/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/
.pageTitle {
    margin-left: 0.2rem;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.h2Title {
    margin-top: unset;
}

.floatRight {
    float: right;
    margin-right: unset !important;
}

clr-dg-cell {
    a {
        cursor: pointer;
        text-decoration: underline;
        color: rgb(0, 112, 172);
    }
}

.cellWordBreak {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: 1.8rem;
    line-height: 0.7rem;
}

.actionClass {
    padding: 0.1rem 0.2rem;
    height: 1rem;
    line-height: 0.9rem;
    min-width: 1.5rem;
}

.greenBtn {
    opacity: 0.7;
}

.disableTree {
    ::ng-deep .clr-checkbox-wrapper .clr-control-label {
        pointer-events: none;
        opacity: 0.5;
    }

    ::ng-deep .clr-checkbox-wrapper input[type='checkbox'] {
        pointer-events: none;
    }
}


.ellipsisMore {
    max-width: 30vw;

    a {
        padding-right: 0.5rem;
        cursor: pointer;
    }

    a:last-child {
        padding-right: 0.5rem;
    }

    div:nth-child(1) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
    }

    div:nth-child(2) {
        text-decoration: underline;
        color: rgb(0, 103, 159);
        cursor: pointer;
    }

    .openMore {
        display: block;
        margin-bottom: 0.3rem;
    }

    ::ng-deep .spinner.spinner-sm {
        height: 0.6rem;
        width: 0.6rem;
        min-height: 0.6rem;
        min-width: 0.6rem;
    }

}

::ng-deep input.disabled-checkbox+label::before {
    background-color: #eee;
    cursor: not-allowed;
    opacity: 0.3;
}

.refreshBtn {
    display: inline-block;
    margin-right: 2rem;
    color: #0079b8;
    font-weight: 600;
    font-size: 0.7rem;
    font-style: normal;
    cursor: pointer;
}