/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.mainArea {
  margin: 0 2rem;
  margin-bottom: 2rem;
}

.form-group {
  margin: 15px 0;
}

.gridHeight {
  height: auto !important;
}

.editModal input[type='text'],
.editModal input[type='file'] {
  width: 100% !important;
  margin-bottom: 0px;
}

::ng-deep .clr-input-wrapper {
  max-height: initial;
}

.prev-info {
  margin-top: 10px;
}

.prev-info label {
  display: inline-block;
  font-weight: bold;
}

::ng-deep .createBtn .btn.btn-sm {
  margin-top: 1rem !important;
}

.roleList {
  min-height: 3rem !important;
}

::ng-deep .roleList clr-radio-container {
  display: initial !important;
}

::ng-deep .roleList .clr-control-inline {
  width: 16rem !important;
}

ul li {
  list-style-type: none;
}

::ng-deep .clr-input-wrapper {
  white-space: unset !important;
}

clr-control-helper {
  line-height: 0.8rem;
}

.cellWordBreak {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 1.8rem;
  line-height: 0.7rem;
}

::ng-deep .badge {
  min-width: 0px !important;
  opacity: 0.7;
}

.annotatorCellWordBreak {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 4rem;
  line-height: 0.7rem;
}

.showIcon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.isShowHide {
  margin-top: 5px;
  color: #0077b8;
}

.isShowHide:hover {
  cursor: pointer;
  font-weight: bold;
}

.inputDescription {
  width: 100% !important;
  margin-bottom: 0px;
}

.shareTip {
  font-size: 0.458333rem;
  line-height: 0.8rem;
  color: #737373;
  margin-top: 1.25rem;
}

.uploadLoading {
  background-color: rgba(0, 119, 184, 0.2);
  border-color: rgba(0, 119, 184, 0.2);
  padding-top: 0.2rem;
}

.actionClass {
  padding: 0.1rem 0.2rem;
  height: 1rem;
  line-height: 0.9rem;
  min-width: 1.5rem;
}

.greenBtn {
  opacity: 0.7;
}

::ng-deep .spinner.spinner-sm {
  min-height: 0.55rem;
  min-width: 0.55rem;
  height: 0.55rem;
  width: 0.55rem;
  margin-top: 0.09rem;
}

::ng-deep .footerLeft .modal-footer {
  display: inherit !important;
}

.editModel .clr-row {
  margin-left: 0rem !important;
}

.al-label {
  margin-top: 0.5rem;
}

.al-label label {
  font-weight: 400;
  font-size: 13px;
}

.al-label input {
  width: 100%;
  margin-left: -1rem;
}

.uploadLoading {
  background-color: rgba(0, 119, 184, 0.2);
  border-color: rgba(0, 119, 184, 0.2);
}

.setTrigger {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.disableTree {
  ::ng-deep .clr-checkbox-wrapper .clr-control-label {
    pointer-events: none;
    opacity: 0.5;
  }

  ::ng-deep .clr-checkbox-wrapper input[type=checkbox] {
    pointer-events: none;
  }
}
