#base
*node_modules*
*debug.log
*.vscode

# e2e
autotest/doc/download
autotest/doc/reporter
autotest/package-lock.json

# annotation-app


# annotation-service



# active-learning-service
*__pycache__*
