.idea
.DS_Store

# annotation-app
annotation-app/.angular
annotation-app/node_modules
annotation-app/.npmrc
annotation-app/chart
annotation-app/src/environments/environment.stg.ts
annotation-app/src/environments/environment.test.ts
# annotation-app/package-lock.json
annotation-app/tsconfig.spec.json
annotation-app/dist


# annotation-service
annotation-service/node_modules
annotation-service/FILE_SYS
annotation-service/config/app-local.js
annotation-service/config/app-poc.js


# active-learning-service
*__pycache__*
active-learning-service/venv/
active-learning-service/.idea
active-learning-service/logs
active-learning-service/models
active-learning-service/config/app_local.py
active-learning-service/config/app_poc.py