<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->
<div class="prev-info clr-row">
  <div class="clr-col-12 clr-col-md-1"></div>
  <label for="slack" class="label-tooltip clr-col-12 clr-col-md-2"
    >Slack
    <clr-tooltip>
      <clr-icon
        clrTooltipTrigger
        shape="info-circle"
        size="20"
        aria-label="Uniq tooltip 5"
      ></clr-icon>
      <clr-tooltip-content clrPosition="right" clrSize="lg" *clrIfOpen>
        &nbsp;<span class="tooltip-content"
          >Important, if you want to notice the target slack channel after this project is created
          successfully please make sure invite {{ env.config.slackAppName }} bot to the target
          channel first. Type "/invite @{{ env.config.slackAppName }}" and send in the target
          channel.
        </span>
      </clr-tooltip-content>
    </clr-tooltip>
  </label>
  <div class="clr-input-wrapper clr-col-12 clr-col-md-8" style="max-height: unset !important">
    <input
      #slack
      id="slack"
      type="text"
      [(ngModel)]="inputSlackChannels"
      (keyup.enter)="onEnterSlack(slack.value)"
      (blur)="slackBlur(slack.value)"
      (click)="reAssignSlack($event)"
      class="clr-input"
      placeholder="(Optional) Enter slack channel name"
    />
    <div *ngIf="showChannelList">
      <ul style="margin-bottom: 0">
        <li *ngFor="let item of slackList; let i = index">
          <span>{{ item.slackName }}</span>
          <clr-icon shape="times" size="12" (click)="deleteSlack(i)"></clr-icon>
        </li>
      </ul>
    </div>
  </div>
  <div class="tooltip" style="position: unset">
    <span *ngIf="loadingSlack" class="spinner spinner-sm"> Loading... </span>
    <clr-tooltip *ngIf="!loadingSlack && inputSlackValidation">
      <clr-icon
        clrTooltipTrigger
        shape="error-standard"
        size="18"
        style="color: red"
        class="valid-tooltip"
      >
      </clr-icon>
      <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="md" *clrIfOpen>
        <span>{{ inputSlackValidation }}</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </div>
</div>
