/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

ul li {
  list-style-type: none;
}

.prev-info {
  margin-top: 10px;
  margin-left: -0.1rem;
}

input[type='text'] {
  width: 99.2% !important;
  margin-bottom: 0px;
}
