/*
Copyright 2019-2022 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.footer {
  background-color: #002538;
}

.vm-border {
  background: #aadb1e;
  background: -moz-linear-gradient(left, #aadb1e 0, #006a91 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0, #aadb1e),
    color-stop(100%, #006a91)
  );
  background: -webkit-linear-gradient(left, #aadb1e 0, #006a91 100%);
  background: -o-linear-gradient(left, #aadb1e 0, #006a91 100%);
  background: -ms-linear-gradient(left, #aadb1e 0, #006a91 100%);
  background: linear-gradient(to right, #aadb1e 0, #006a91 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aadb1e',endColorstr='#006a91',GradientType=1);
  width: 100%;
  height: 6px;
  float: left;
}

.footer img {
  margin: 10px 30px 10px 60px;
}

.footer table {
  width: 100%;
}

.footer table .feedback {
  padding-right: 30px;
  color: white;
}

.nostyle {
  cursor: pointer;
}

.footer a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}

.footer a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: pointer;
}
