/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.mainArea {
  margin: 0 2rem;
}

.cellWordBreak {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 1.8rem;
  line-height: 0.7rem;
}

.actionClass {
  padding: 0.1rem 0.2rem;
  height: 1rem;
  line-height: 0.9rem;
  min-width: 1.5rem;
}

.greenBtn {
  opacity: 0.7;
}

::ng-deep .spinner.spinner-sm {
  min-height: 0.55rem;
  min-width: 0.55rem;
  height: 0.55rem;
  width: 0.55rem;
  margin-top: 0.09rem;
}

::ng-deep .footerLeft .modal-footer {
  display: inherit !important;
}
