<!-- Copyright 2019-2022 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<form [formGroup]="uploadGroup" (keydown.enter)="$event.preventDefault()" autocomplete="off">
  <div class="modal">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close" (click)="onCloseDialog()"></clr-icon>
          </button>
          <h3 class="modal-title">Upload File</h3>
        </div>

        <div class="modal-body">
          <div class="form-group clr-row">
            <label for="datasetsName" class="label-tooltip clr-col-12 clr-col-md-3"
              >Name<span>*</span></label
            >
            <div class="clr-input-wrapper clr-col-12 clr-col-md-8">
              <input
                id="datasetsName"
                type="text"
                formControlName="datasetsName"
                class="clr-input"
                (ngModelChange)="this.userQuestionUpdate.next($event)"
              />
            </div>
            <div class="clr-col-12 clr-col-md-1">
              <clr-tooltip
                *ngIf="
                  uploadGroup.get('datasetsName').errors && uploadGroup.get('datasetsName').touched
                "
              >
                <clr-icon
                  clrTooltipTrigger
                  shape="error-standard"
                  size="18"
                  style="color: red"
                  class="valid-tooltip"
                >
                </clr-icon>
                <clr-tooltip-content
                  class="error-tooltip"
                  clrPosition="bottom-right"
                  clrSize="sm"
                  *clrIfOpen
                >
                  <span>{{ uploadGroup.get('datasetsName').errors.msg.value }}</span>
                </clr-tooltip-content>
              </clr-tooltip>
              <clr-tooltip *ngIf="nameExist">
                <clr-icon
                  clrTooltipTrigger
                  shape="error-standard"
                  size="18"
                  style="color: red"
                  class="valid-tooltip"
                >
                </clr-icon>
                <clr-tooltip-content
                  class="error-tooltip"
                  clrPosition="bottom-right"
                  clrSize="sm"
                  *clrIfOpen
                >
                  <span>This name already exists!</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
          </div>

          <div class="form-group clr-row">
            <label for="localFile" class="label-tooltip clr-col-12 clr-col-md-3"
              >File Upload
              <clr-tooltip>
                <clr-icon
                  clrTooltipTrigger
                  shape="info-circle"
                  size="18"
                  aria-label="Uniq tooltip 5"
                ></clr-icon>
                <clr-tooltip-content *clrIfOpen>
                  <span style="color: currentColor"
                    >Text and tabular dataset only support CSV (UTF-8) file. Image dataset only
                    support ZIP file.</span
                  >
                </clr-tooltip-content>
              </clr-tooltip>
              <span>*</span>
            </label>
            <div class="clr-input-wrapper clr-col-12 clr-col-md-8">
              <input
                name="localFileFile"
                type="file"
                (change)="onLocalFileChange($event)"
                [accept]="
                  msg.page == 'datasets'
                    ? '.zip,.ZIP,.csv,.CSV,.tgz,.TGZ'
                    : msg.type == 'image'
                    ? '.zip,.ZIP'
                    : msg.type == 'log'
                    ? '.zip,.ZIP,.tgz,.TGZ'
                    : '.csv,.CSV'
                "
              />
            </div>
            <div class="clr-col-12 clr-col-md-1">
              <clr-tooltip
                *ngIf="uploadGroup.get('localFile').errors && uploadGroup.get('localFile').touched"
              >
                <clr-icon
                  clrTooltipTrigger
                  shape="error-standard"
                  size="18"
                  style="color: red"
                  class="valid-tooltip"
                >
                </clr-icon>
                <clr-tooltip-content
                  class="error-tooltip"
                  clrPosition="bottom-right"
                  clrSize="sm"
                  *clrIfOpen
                >
                  <span>{{ uploadGroup.get('localFile').errors.msg.value }}</span>
                </clr-tooltip-content>
              </clr-tooltip>
            </div>
          </div>

          <div class="form-group clr-row">
            <label for="fileFormat" class="label-tooltip clr-col-12 clr-col-md-3"
              >File Format<span>*</span></label
            >
            <div class="clr-row clr-col-12 clr-col-md-9" style="margin-top: 0.1rem">
              <label class="md-check format clr-row">
                <clr-radio-wrapper
                  style="margin-right: 0.5rem"
                  *ngIf="
                    ((msg.type == 'text' || msg.type == 'ner' || msg.type == 'qa') && msg.page == 'create') ||
                    msg.page == 'datasets'
                  "
                >
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="fileFormat"
                    value="csv"
                    id="csv"
                    name="fileFormat"
                    (ngModelChange)="changeFileFormat($event)"
                  />
                  <label for="csv">&nbsp;CSV</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper
                  style="margin-right: 0.5rem"
                  *ngIf="(msg.type == 'tabular' && msg.page == 'create') || msg.page == 'datasets'"
                >
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="fileFormat"
                    value="tabular"
                    id="tabular"
                    name="fileFormat"
                    (ngModelChange)="changeFileFormat($event)"
                  />
                  <label for="tabular">&nbsp;Tabular</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper
                  style="margin-right: 0.5rem"
                  *ngIf="(msg.type == 'image' && msg.page == 'create') || msg.page == 'datasets'"
                >
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="fileFormat"
                    value="image"
                    id="image"
                    name="fileFormat"
                    (ngModelChange)="changeFileFormat($event)"
                  />
                  <label for="image">&nbsp;Images</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper
                  *ngIf="(msg.type == 'log' && msg.page == 'create') || msg.page == 'datasets'"
                >
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="fileFormat"
                    value="txt"
                    id="txt"
                    name="fileFormat"
                    (ngModelChange)="changeFileFormat($event)"
                  />
                  <label for="txt">&nbsp;Txt</label>
                </clr-radio-wrapper>
                <clr-control-helper *ngIf="uploadSet.fileFormat == 'csv'"
                  >Upload a CSV with a minimum of 2 columns containing the label and the
                  text.</clr-control-helper
                >
                <clr-control-helper *ngIf="uploadSet.fileFormat == 'tabular'"
                  >Upload a CSV with a minimum of 2 columns.
                </clr-control-helper>
                <clr-control-helper *ngIf="uploadSet.fileFormat == 'image'"
                  >Upload a zip file containing your images dataset with or without
                  subfolders.</clr-control-helper
                >
                <clr-control-helper *ngIf="uploadSet.fileFormat == 'txt'"
                  >Upload a zip or a tgz file containing your txt dataset with or without
                  subfolders.</clr-control-helper
                >
              </label>
            </div>
          </div>

          <div
            class="form-group clr-row"
            *ngIf="uploadSet.fileFormat == 'csv' || uploadSet.fileFormat == 'tabular'"
          >
            <label for="hasHeader" class="label-tooltip clr-col-12 clr-col-md-3"
              >Has Header<span>*</span></label
            >
            <div class="clr-row clr-col-12 clr-col-md-9" style="margin-top: 0.1rem">
              <label class="md-check format clr-row">
                <clr-radio-wrapper style="margin-right: 0.5rem">
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="hasHeader"
                    value="yes"
                    id="yes"
                    name="hasHeader"
                    checked
                  />
                  <label for="yes">&nbsp;Yes</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input
                    type="radio"
                    clrRadio
                    class="clr-radio"
                    formControlName="hasHeader"
                    value="no"
                    id="no"
                    name="hasHeader"
                  />
                  <label for="no">&nbsp;No</label>
                </clr-radio-wrapper>
              </label>
            </div>
          </div>

          <div *ngIf="parseErrorTip" class="alert alert-danger" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  {{ parseError }}
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="waitingTip" class="alert alert-info" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  Large dataset takes some time to upload, please wait.
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="errorMessage != ''" class="alert alert-danger" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  {{ errorMessage }}
                </span>
              </div>
            </div>
          </div>
          <div *ngIf="infoMessage != ''" class="alert alert-info" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  {{ infoMessage }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="onCloseDialog()">Cancel</button>
          <button
            *ngIf="!uploadComplete"
            type="button"
            class="btn btn-primary"
            (click)="saveUpload()"
          >
            OK
          </button>
          <button *ngIf="uploadComplete" type="button" class="btn uploadLoading">
            <clr-spinner
              clrSmall
              clrAssertive
              style="
                min-height: 0.75rem;
                min-width: 0.75rem;
                height: 0.75rem;
                width: 0.75rem;
                margin-top: 0.35rem;
              "
              >loading
            </clr-spinner>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true"></div>
</form>
