/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.modal .modal-dialog {
  width: inherit !important;
}

.modal .modal-dialog .modal-content {
  width: 800px;
}

clr-alert {
  margin-top: 1rem;
}

label span {
  color: red;
}

.form-group .select {
  width: 100%;
}

::ng-deep .dcr-doc-form .select2-class {
  width: 100% !important;
}

.form-group input[type='text'],
.form-group input[type='file'] {
  width: 100% !important;
  margin-bottom: 0px;
}

.form-group .select,
.form-group select {
  width: 100% !important;
}

.form-group textarea {
  width: 100% !important;
}

::ng-deep .btn.btn-sm {
  margin-top: 7px !important;
}

::ng-deep .md-check {
  margin-left: 10px !important;
}

::ng-deep .footerLeft .modal-footer {
  display: inherit !important;
}

.uploadLoading {
  background-color: rgba(0, 119, 184, 0.2);
  border-color: rgba(0, 119, 184, 0.2);
  padding-top: 0.2rem;
  margin-left: 0.2rem;
}

.removeEntry {
  margin-top: 0.5rem;
  margin-left: 0.05rem;
}