<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<div class="container mainArea">
    <clr-alert *ngIf="errorMessage" [clrAlertType]="'danger'" (clrAlertClosedChange)="errorMessage = ''">
        <div class="alert-item">
            <span class="alert-text">{{ errorMessage }}</span>
        </div>
    </clr-alert>
    <clr-alert *ngIf="infoMessage" [clrAlertType]="'info'" (clrAlertClosedChange)="infoMessage = ''">
        <div class="alert-item">
            <span class="alert-text">{{ infoMessage }}</span>
        </div>
    </clr-alert>
    <h2>{{projectType=="image"?"Add New Images":"Add New Entries"}}</h2>
    <clr-tabs>
        <clr-tab>
            <button clrTabLink>Quick Add</button>
            <clr-tab-content *clrIfActive>
                <button class="btn btn-primary btn-md" style="margin-top: 1rem;" (click)="addNewRow()">
                    ADD
                </button>
                <button class="btn btn-primary btn-md" style="margin-top: 1rem;" (click)="createNewRow()">
                    Publish
                </button>

                <clr-datagrid *ngIf="projectType!=='image'" [clrDgLoading]="loading">
                    <clr-dg-column style="max-width:90px">#</clr-dg-column>
                    <clr-dg-column *ngFor="let header of sampleData">{{ header.key}}</clr-dg-column>
                    <clr-dg-column style="max-width:90px">Action</clr-dg-column>
                    <clr-dg-row>
                        <clr-dg-cell style="max-width:90px">E.G.</clr-dg-cell>
                        <clr-dg-cell *ngFor="let content of sampleData" style="padding-left: 0.8rem;">
                            {{ content.value }}
                        </clr-dg-cell>
                        <clr-dg-cell style="max-width:90px"></clr-dg-cell>
                    </clr-dg-row>
                    <clr-dg-row *ngFor="let content of newAddedData; let a = index">
                        <clr-dg-cell style="max-width:90px">{{ a + 1 }}</clr-dg-cell>
                        <clr-dg-cell *ngFor="let b of content">
                            <textarea class="editableCell" name="" id="{{a}}_{{b.key}}" [(ngModel)]="b.value"
                                (keyup)="inputDescription($event,a,b.key)"></textarea>
                            <div *ngIf='b.format==false' style="color: red;">Wrong Format!</div>

                        </clr-dg-cell>
                        <clr-dg-cell style="max-width:90px">
                            <button type="button" class="btn btn-icon actionClass" role="tooltip" aria-haspopup="true"
                                title="Delete" (click)="deleteRow($event, a)">
                                <clr-icon aria-hidden="true" shape="trash"></clr-icon>
                            </button>
                        </clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>
                <clr-datagrid *ngIf="projectType=='image'" [clrDgLoading]="loading">
                    <clr-dg-column>#</clr-dg-column>
                    <clr-dg-column>Image</clr-dg-column>
                    <clr-dg-column>Image Name</clr-dg-column>
                    <clr-dg-column>Image Size (KB)</clr-dg-column>
                    <clr-dg-row *ngFor="let content of newAddedData; let a = index">
                        <clr-dg-cell>{{ a + 1 }}</clr-dg-cell>
                        <clr-dg-cell>
                            <div class="uploadImage " (mouseenter)="enterImage(a)" (mouseleave)="leaveImage(a)">
                                <div class="imageHoverCover">
                                    <img src="{{content.src}}" alt="" class="imagePreview image{{ a }}">
                                    <div class="labelBox labelBox{{a}}">
                                        <label class="label labelUpload" style="top: 6rem"
                                            (click)="deleteRow($event,a)">
                                            <span>
                                                <clr-icon size="18" shape="trash" style="margin-right: 0.2rem">
                                                </clr-icon>
                                                DELETE
                                            </span>
                                        </label>
                                        <label class="label labelUpload" for="uploadImage{{a}}" style="top: 8rem">
                                            <span>
                                                <clr-icon size="18" shape="upload" style="margin-right: 0.2rem">
                                                </clr-icon>
                                                UPLOAD
                                            </span>
                                        </label>
                                        <input id="uploadImage{{a}}" style="display:none"
                                            accept=".png,.jpg,.jpeg,.tif,.bmp" type="file"
                                            (change)="onImageChange($event,a)">
                                    </div>
                                </div>
                            </div>
                            <div *ngIf='content.format==false' style="color: red;">Wrong Format!</div>
                        </clr-dg-cell>
                        <clr-dg-cell style="word-break: break-all">{{content.name}}</clr-dg-cell>
                        <clr-dg-cell>{{content.sizeInkb}}</clr-dg-cell>
                    </clr-dg-row>
                </clr-datagrid>

            </clr-tab-content>
        </clr-tab>
        <clr-tab>
            <button clrTabLink>{{projectType=="image"?"Upload Zip":"Upload CSV"}}</button>
            <clr-tab-content *clrIfActive>

                <h5 *ngIf="projectType!=='image'" style="margin-top: 2rem;">Original csv header with an example given
                </h5>
                <clr-datagrid *ngIf="projectType!=='image'" [clrDgLoading]="loading">
                    <clr-dg-column *ngFor="let header of sampleData">{{ header.key}}</clr-dg-column>
                    <clr-dg-row>
                        <clr-dg-cell *ngFor="let content of sampleData">
                            {{ content.value }}
                        </clr-dg-cell>
                    </clr-dg-row>

                </clr-datagrid>
                <h5 *ngIf="projectType!=='image'" style="margin-top: 2rem;">Add new csv ( Make sure your new csv
                    contains the same original
                    headers as above )</h5>
                <form class="addCsv" [formGroup]="uploadGroup" autocomplete="off">
                    <div class="form-group clr-row">
                        <label for="datasetsName" class="label-tooltip clr-col-12 clr-col-md-1">Name
                            <!-- <span>*</span> -->
                        </label>
                        <div class="clr-input-wrapper clr-col-12 clr-col-md-5">
                            <!-- <input id="datasetsName" type="text" formControlName="datasetsName" class="clr-input"
                                (ngModelChange)="this.userQuestionUpdate.next($event)"> -->
                            <input id="datasetsName" type="text" formControlName="datasetsName" class="clr-input"
                                (ngModelChange)="changeDatasetName($event)">
                        </div>
                        <div class="clr-col-12 clr-col-md-6">
                            <clr-tooltip
                                *ngIf="uploadGroup.get('datasetsName').errors && uploadGroup.get('datasetsName').touched">
                                <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                    class="valid-tooltip">
                                </clr-icon>
                                <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="sm"
                                    *clrIfOpen>
                                    <span>{{uploadGroup.get('datasetsName').errors.msg.value}}</span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                            <clr-tooltip *ngIf="nameExist">
                                <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                    class="valid-tooltip">
                                </clr-icon>
                                <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="md"
                                    *clrIfOpen>
                                    <span>This name already exists.</span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                        </div>
                    </div>
                    <div class="form-group clr-row">
                        <label for="localFile"
                            class="label-tooltip clr-col-12 clr-col-md-1">{{projectType=="image"?"Images":"CSV"}}
                            Upload
                            <clr-tooltip>
                                <clr-icon clrTooltipTrigger shape="info-circle" size="18" aria-label="Uniq tooltip 5">
                                </clr-icon>
                                <clr-tooltip-content *clrIfOpen>
                                    <span style="color: currentColor">Text and tabular dataset only support CSV (UTF-8)
                                        file. Image dataset only
                                        support ZIP
                                        file.</span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                            <span>*</span>
                        </label>
                        <div class="clr-input-wrapper clr-col-12 clr-col-md-5">
                            <div class="clr-select-wrapper " style="width: 100% !important">
                                <select style="width: 100% !important" id="select-basic" class="clr-select"
                                    formControlName="selectedDataset" (change)="selectedDatasets($event)">
                                    <option *ngFor="let uploadDataset of datasetsList"
                                        [value]="uploadDataset.dataSetName">
                                        {{uploadDataset.dataSetName}}</option>
                                </select>
                            </div>
                            <br>
                            <label class="label fileLabel" for="upfiles">
                                UPLOAD {{projectType=="image"?"IMAGES":"CSV"}}
                            </label>

                            <span>{{inputFile?.name}}</span>
                            <input *ngIf="projectType!=='image'" id="upfiles" name="localFileFile" type="file"
                                (change)="onLocalFileChange($event)" accept=".csv,.CSV" class="fileInput">
                            <input *ngIf="projectType=='image'" id="upfiles" name="localFileFile" type="file"
                                (change)="onLocalFileChange($event)" accept=".zip,.ZIP" class="fileInput">


                        </div>

                        <div class="clr-col-12 clr-col-md-6">
                            <clr-tooltip
                                *ngIf="(uploadGroup.get('localFile').errors && uploadGroup.get('localFile').touched)||(uploadGroup.get('selectedDataset').errors && uploadGroup.get('selectedDataset').touched)">
                                <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                    class="valid-tooltip">
                                </clr-icon>
                                <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="md"
                                    *clrIfOpen>
                                    <span>{{(uploadGroup.get('localFile').errors.msg.value)||(uploadGroup.get('selectedDataset').errors.msg.value)}}</span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                            <!-- <clr-tooltip
                                *ngIf="">
                                <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                    class="valid-tooltip">
                                </clr-icon>
                                <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="md"
                                    *clrIfOpen>
                                    <span>{{uploadGroup.get('selectedDataset').errors.msg.value}}</span>
                                </clr-tooltip-content>
                            </clr-tooltip> -->
                            <clr-tooltip *ngIf="fixHeader.length>0">
                                <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                    class="valid-tooltip">
                                </clr-icon>
                                <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="lg"
                                    *clrIfOpen>
                                    <span style="word-break: break-all">File headers are not matching, you lost
                                        header&nbsp;"{{fixHeader}}"</span>
                                </clr-tooltip-content>
                            </clr-tooltip>
                        </div>

                    </div>
                    <div class="form-group clr-row" *ngIf=showPreviewTable>
                        <label class="label-tooltip clr-col-12 clr-col-md-1">
                            <div>Preview Data</div>
                        </label>
                        <div class="preview clr-col-12 clr-col-md-10">
                            <div *ngIf="!loadPreviewTable" class="previewTable">
                                <table class="table"
                                    style="margin-top: 0rem !important;border-collapse: collapse !important;">
                                    <thead>
                                        <tr>
                                            <th class="left" *ngFor="let itemHeader of previewHeadDatas"
                                                style="vertical-align: baseline;border: 1px solid #ccc;">
                                                {{itemHeader}}</th>
                                        </tr>
                                    </thead>
                                    <tbody *ngIf="projectType!=='image'">
                                        <tr *ngFor="let previewCont of previewContentDatas">
                                            <td class="left" *ngFor="let item of previewCont">{{item}}</td>
                                        </tr>
                                    </tbody>
                                    <tbody *ngIf="projectType=='image'">
                                        <tr *ngFor="let previewCont of previewContentDatas">
                                            <td class="left">{{previewCont._id}}</td>
                                            <td class="left">{{previewCont.fileName}}</td>
                                            <td class="left">{{previewCont.fileSize}}</td>
                                            <td class="left"><img [src]="previewCont.location" alt=""
                                                    style="max-width: 15rem;max-height: 15rem;">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div *ngIf=loadPreviewTable class="tableLoading">
                                <span class="spinner spinner-lg" style='margin-top:3rem;margin-bottom: -1rem;'>
                                    Loading...
                                </span>
                                <span class="loadingSpan">
                                    Loading Data, Please Wait...
                                </span>
                            </div>
                        </div>

                    </div>


                    <div class="form-group clr-row" *ngIf="showPreviewTable || projectType=='image'">
                        <div class="clr-col-12 clr-col-md-1">
                            <label for="totalRow" class="label-tooltip">Total
                                {{projectType=="image"?"Items":"Rows"}}</label>
                        </div>
                        <!-- <div class="clr-col-12 clr-col-md-11">
                            <span>{{totalRow}}</span>&nbsp;&nbsp;
                            <span *ngIf="nonEnglish!==0">(The total case number is {{totalCase}}, and
                                will remove
                                {{nonEnglish}} NON-ASCII
                                cases)</span>
                        </div> -->
                        <div class="clr-input-wrapper clr-col-12 clr-col-md-5">
                            <input style="width: auto !important;" id="totalRow" type="text" formControlName="totalRow"
                                class="clr-input" readonly>
                            <span *ngIf="nonEnglish!==0">(The total case number is {{totalCase}}, and will remove
                                {{nonEnglish}} NON-ASCII
                                cases)</span>
                        </div>
                        <clr-tooltip *ngIf="uploadGroup.get('totalRow').errors && uploadGroup.get('totalRow').touched">
                            <clr-icon clrTooltipTrigger shape="error-standard" size="18" style="color: red;"
                                class="valid-tooltip">
                            </clr-icon>
                            <clr-tooltip-content class="error-tooltip" clrPosition="bottom-right" clrSize="md"
                                *clrIfOpen>
                                <span>{{uploadGroup.get('totalRow').errors.msg.value}}</span>
                            </clr-tooltip-content>
                        </clr-tooltip>
                    </div>




                    <div class="form-group clr-row">
                        <div class="clr-col-12 clr-col-md-1">
                            <button class="btn btn-primary btn-md" (click)="createNewCsv()">
                                Publish
                            </button>

                        </div>
                        <div class="clr-col-12 clr-col-md-5"></div>
                        <div class="clr-col-12 clr-col-md-2"></div>
                        <div class="clr-col-12 clr-col-md-4"></div>
                    </div>

                </form>

            </clr-tab-content>
        </clr-tab>
    </clr-tabs>
</div>


<clr-modal [(clrModalOpen)]="addLoading" [clrModalClosable]="false">
    <div class="modal-body" style="margin-bottom: 1rem;">
        <div class="alert alert-text">
            <div class="alert-items">
                <div class="alert-item static">
                    <div class="alert-icon-wrapper">
                        <clr-spinner clrSmall clrAssertive
                            style="min-height: 0.75rem;min-width: 0.75rem;height: 0.75rem;width: 0.75rem;margin-top: 0rem !important;">
                            loading
                        </clr-spinner>
                    </div>
                    <span class="alert-text"> Message: Adding large dataset takes some time, please wait... </span>
                </div>
            </div>
        </div>
    </div>
</clr-modal>