<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->
<!-- <div class="modalHide" (click)="clickModalHide()"></div> -->
<form
  class="clr-form"
  [formGroup]="questionForm"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="$event.preventDefault()"
  novalidate
>
  <div formGroupName="questionGroup">
    <section class="clr-form-block">
      <div *ngIf="!loading" class="clr-row">
        <div class="clr-col-1">
          <div style="position: absolute; bottom: 3rem; left: 0rem">
            <div class="showTag" *ngIf="isDrawer" (click)="detailDrawer()">
              <clr-icon
                shape="angle"
                class="drawer"
                size="30"
                style="transform: rotate(90deg); margin-right: 0.3rem"
              >
              </clr-icon>
            </div>
            <div class="hideTag" *ngIf="!isDrawer" (click)="detailDrawer()">
              <clr-icon
                shape="angle"
                class="drawer"
                size="30"
                style="transform: rotate(-90deg); margin-left: 0.3rem"
              >
              </clr-icon>
            </div>
          </div>
        </div>
        <div class="leftBoard" [ngClass]="{ 'clr-col-3': !isDrawer, isDrawer: isDrawer }">
          <h2>{{ startFrom === 'review' ? 'Review Details' : 'Annotate Details' }}</h2>

          <div>
            <div class="clr-form-group form-group clr-row">
              <label for="selectProject" class="label-leftBoard">Projects </label>&nbsp;&nbsp;
              <div class="clr-select-wrapper" style="max-width: 70%">
                <select
                  style="width: 100%"
                  (change)="onSelectingProjects($event)"
                  formControlName="selectProject"
                >
                  <option
                    *ngFor="let selectProject of projects"
                    [value]="selectProject.projectName"
                  >
                    {{ selectProject.projectName }}
                  </option>
                </select>
              </div>
            </div>
            <div
              *ngIf="projectType !== 'ner' && projectType !== 'image' && projectType !== 'log'"
              class="clr-form-group form-group clr-row"
              style="margin-top: -0.5rem"
            >
              <label class="label-leftBoard">Display </label>&nbsp;&nbsp;&nbsp;
              <div class="clr-select-wrapper" style="max-width: 70%">
                <select
                  style="width: 100%"
                  formControlName="renderFormat"
                  (change)="changeRenderFormat($event)"
                >
                  <option value="md">Text</option>
                  <option value="html">Render Markdown</option>
                </select>
              </div>
            </div>

            <div class="line"></div>
          </div>

          <h3 style="margin-top: 0.2rem">Project Info</h3>
          <div class="clr-form-group left-project-info clr-row">
            <label for="name" class="label-leftBoard">Name: </label>&nbsp;&nbsp;
            <div style="word-break: break-all">{{ selectParam }}</div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="owner" class="label-leftBoard">Owner: </label>&nbsp;&nbsp;
            <div style="word-break: break-all">{{ projectInfo?.creator }}</div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="source" class="label-leftBoard">Source: </label>&nbsp;&nbsp;
            <div style="word-break: break-all">{{ projectInfo?.dataSource }}</div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="Created Date" class="label-leftBoard">Created Date: </label>&nbsp;&nbsp;
            <div style="word-break: break-all">{{ projectInfo?.createdDate | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="Created Date" class="label-leftBoard">Assignment Logic: </label>&nbsp;&nbsp;
            <div style="word-break: break-all">{{ (projectInfo?.labelType == 'numericLabel' ||
              projectInfo.projectType == 'ner' ||
              projectInfo.isMultipleLabel ||
              projectInfo.projectType == 'image' ||
              projectInfo.projectType == 'log') ? (projectInfo?.assignmentLogic | toUpperCase) : 'Active learning' }}
            </div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="source" class="label-leftBoard">Max Annotation: </label>&nbsp;&nbsp;
            <div>{{ projectInfo?.maxAnnotation }}</div>
          </div>
          <div class="clr-form-group left-project-info">
            <label for="source" class="label-leftBoard">Instruction : </label>&nbsp;&nbsp;
            <div class="instructionBox" [innerHTML]="projectInfo?.taskInstructions"></div>
            <div class="line"></div>
          </div>

          <h3>
            {{ startFrom === 'review' ? 'Review' : 'Annotation' }} Progress
          </h3>
          <div class="clr-form-group left-project-info clr-row">
            <label for="name" class="label-leftBoard">Total tickets:</label>&nbsp;&nbsp;
            <div>
              {{
                startFrom === 'review'
                  ? progressInfo?.totalCase
                  : progressInfo?.assignedCase
              }}
            </div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label for="owner" class="label-leftBoard"
              >{{
                startFrom === 'review' ? 'Reviewed tickets' : 'Annotations'
              }}
              : </label
            >&nbsp;&nbsp;
            <div>{{ progressInfo?.completeCase }}</div>
          </div>
          <div class="clr-form-group left-project-info clr-row">
            <label style="margin-bottom: 0.5rem">{{
              startFrom === 'review' ? 'Project reviewed progress:' : ''
            }}</label>
            <clr-progress-bar
              clrValue="{{ percentage }}"
              clrLabeled
              clrDisplayval="{{ percentage }}%"
            >
            </clr-progress-bar>
          </div>
          <div *ngIf="startFrom === 'review'">
            <div class="clr-form-group left-project-info clr-row">
              <label for="name" class="label-leftBoard">Reviewee:</label>&nbsp;&nbsp;
              <div class="clr-select-wrapper" style="width: 70%">
                <select
                  style="width: 95%"
                  (change)="onSelectingReviewee($event)"
                  formControlName="reviewee"
                >
                  <option value=""></option>
                  <option *ngFor="let item of progressInfo.userCompleteCase" [value]="item.user">
                    {{ item.fullName }}
                  </option>
                </select>
              </div>
            </div>
            <div class="clr-form-group left-project-info clr-row">
              <label for="assignmentLogic" class="label-leftBoard" style="margin-right: 1.3rem"
                >Review Assignment Logic:
              </label>
              <div class="clr-row">
                <label class="md-check format clr-row" style="margin-left: 0.5rem">
                  <clr-radio-wrapper>
                    <input
                      type="radio"
                      clrRadio
                      class="clr-radio"
                      value="random"
                      id="random"
                      name="reviewOrder"
                      [(ngModel)]="reviewOrder"
                      [ngModelOptions]="{ standalone: true }"
                      checked
                      (change)="changeReviewOrder($event)"
                    />
                    <label for="random">Random</label>
                  </clr-radio-wrapper>
                  &nbsp;&nbsp;
                  <clr-radio-wrapper>
                    <input
                      type="radio"
                      clrRadio
                      class="clr-radio"
                      value="sequential"
                      id="sequential"
                      name="reviewOrder"
                      [(ngModel)]="reviewOrder"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="changeReviewOrder($event)"
                    />
                    <label for="sequential">Sequential</label>
                  </clr-radio-wrapper>
                </label>
              </div>
            </div>
            <div class="clr-form-group left-project-info">
              <label style="margin-bottom: 0.5rem; display: block">Annotator reviewed progress:</label>
              <div
                class="clr-row"
                style="margin-bottom: 0.3rem"
                *ngFor="let item of progressInfo.userCompleteCase"
              >
                <label class="clr-col-3 keepAllWord" title="{{ item.fullName }}">{{
                  item.fullName
                }}</label>
                <div class="clr-col">
                  <clr-progress-bar
                    title="Annotation progress: (annotated tickets / assigned tickets)%"
                    clrValue="{{
                      (item.completeCase / (item.assignedCase == 0 ? 1 : item.assignedCase)) * 100
                    }}"
                    clrLabeled
                    clrDisplayval="{{
                      (item.completeCase / (item.assignedCase == 0 ? 1 : item.assignedCase)) * 100
                        | mathRoundPipe
                    }}%"
                  >
                  </clr-progress-bar>
                  <clr-progress-bar
                    title="Review progress: reviewed tickets / annotated tickets"
                    clrValue="{{ (item.reviewed / item.completeCase) * 100 }}"
                    clrSuccess
                    clrLabeled
                    clrDisplayval="{{ item.reviewed }}/{{ item.completeCase }}"
                  >
                  </clr-progress-bar>
                </div>
              </div>
            </div>
          </div>
          <div class="line"></div>

          <h3 style="margin-top: 0.2rem">History</h3>

          <ng-container>
            <div class="historyBox">
              <div *ngFor="let item of annotationHistory; let i = index" style="position: relative">
                <div
                  [ngClass]="{ selectedHistory: item.srId === sr._id }"
                  class="clr-form-group left-project-info clr-row historyPosition"
                  (click)="historyBack(i, item.srId)"
                >
                  <div *ngFor="let flag of item.historyDescription" class="historyText">
                    <div
                      *ngIf="projectType == 'ner' || projectType == 'log'"
                      title="{{ flag.text }}"
                    >
                      {{ flag.text }}
                    </div>
                    <div *ngIf="projectType == 'image'" title="{{ flag.fileName }}">
                      {{ flag.fileName }}
                    </div>
                    <div
                      *ngIf="
                        projectType !== 'ner' && projectType !== 'image' && projectType !== 'log'
                      "
                      title="{{ flag.key + ':' + flag.value }}"
                    >
                      {{ flag.key + ':' + flag.value }}
                    </div>
                  </div>
                </div>
                <clr-icon
                  *ngIf="item.type === 'submit'"
                  class="historyIcon"
                  shape="success-standard"
                ></clr-icon>
                <clr-icon *ngIf="item.type === 'skip'" class="historyIcon" shape="ban"></clr-icon>
                <clr-icon
                  *ngIf="item.type === 'pass'"
                  class="historyIcon"
                  shape="checkbox-list"
                ></clr-icon>
              </div>
            </div>
          </ng-container>
        </div>
        <div
          class="centerBoard"
          [ngClass]="{ 'clr-col-7': !isDrawer, 'clr-col-10': isDrawer }"
          style="margin-bottom: 10rem"
        >
          <div style="position: relative">
            <clr-alert
              *ngIf="maxAnnotationError"
              [clrAlertType]="'info'"
              (clrAlertClosedChange)="maxAnnotationError = ''"
              class="invalidAlert"
            >
              <div class="alert-item">
                <span class="alert-text">{{ maxAnnotationError }}</span>
              </div>
            </clr-alert>
          </div>

          <h2 class="originalH2" style="word-break: break-all;">
            {{ projectInfo?.ticketDescription }}&nbsp;&nbsp;&nbsp;
            <a
              *ngIf="!silenceStatus"
              role="tooltip"
              aria-haspopup="true"
              class="tooltip tooltip-right"
            >
              <clr-icon
                size="25"
                class="is-solid"
                style="color: #e12200; cursor: pointer"
                shape="flag"
                (click)="flagTicket()"
              >
              </clr-icon>
              <span class="tooltip-content" style="background-color: #eee; color: #313131"
                >Click to flag this ticket</span
              >
            </a>

            <clr-icon
              *ngIf="silenceStatus"
              size="25"
              shape="flag"
              class="is-solid"
              style="color: #2f8400"
            >
            </clr-icon>
            <span *ngIf="silenceStatus" style="color: #2f8400; font-size: 0.5em"
              >Reviewed for accuracy</span
            >
          </h2>
          <!-- to show the filename -->
          <div
            *ngIf="projectType === 'log' && startFrom !== 'review' && projectInfo.isShowFilename"
            style="font-size: 0.54167rem"
          >
            <div class="clr-row" style="margin-bottom: 0.7rem">
              <div class="clr-col-2">File Name</div>
              <div class="clr-col-10">
                <div style="margin-left: -0.5rem; word-break: break-all">
                  <span>{{ currentLogFile }}</span>
                </div>
              </div>
            </div>
          </div>
          <!-- to search the filename -->
          <div
            *ngIf="projectType === 'log' && startFrom === 'review'"
            style="font-size: 0.54167rem"
          >
            <div class="clr-row">
              <div class="clr-col-2" style="margin-top: -0.15rem">File Name</div>
              <div class="clr-col-10">
                <ng-select
                  [items]="logFiles"
                  bindLabel="fileName"
                  bindValue="index"
                  [(ngModel)]="selectedFile"
                  [ngModelOptions]="{ standalone: true }"
                  [searchable]="true"
                  [readonly]="fasle"
                  [markFirst]="true"
                  [clearable]="false"
                  [virtualScroll]="true"
                  notFoundText="No file found"
                  (change)="getTargetFile($event)"
                  (blur)="blurFilename()"
                  (focus)="focusFilename($event)"
                >
                  <ng-option *ngFor="let logFile of logFiles" [value]="logFile.index">
                    {{ logFile.fileName }}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </div>
          <!-- to filter the log -->
          <div *ngIf="projectType === 'log'">
            <div class="clr-row filterLog">
              <div class="clr-form-control clr-col-2" style="margin-top: 0rem">
                <select class="filterSelect" (change)="updateFilterSelect($event)">
                  <option value="keyword">Keyword</option>
                  <option value="regex">Regex</option>
                </select>
              </div>

              <div class="clr-control-container clr-col-10 filterInput">
                <div class="clr-input-wrapper">
                  <input
                    #filters
                    autocomplete="off"
                    type="text"
                    [placeholder]="
                      filterType == 'keyword'
                        ? 'Type keyword to filter, for example, abc .'
                        : 'Type custom regex rule to filter, for example, /[A-Z]/'
                    "
                    class="clr-input filterText"
                    formControlName="filterText"
                    (keyup.enter)="onEnterFilter(filters)"
                    (blur)="blurFilter($event)"
                    (ngModelChange)="updateFilterText($event)"
                  />
                </div>
                <span *ngIf="regexErr" class="clr-subtext regexErr">Wrong format!</span>
              </div>
            </div>
            <div *ngIf="filterList.length > 0" class="filterBox">
              <span
                *ngFor="let filter of filterList; let i = index"
                class="label filterLabel"
                (click)="deleteFilter(i)"
                (mouseenter)="overFilter(i)"
                (mouseleave)="outFilter(i)"
                [ngClass]="active == i ? 'overLabels' : ''"
                >{{ filter.filterText
                }}<clr-icon
                  shape="times"
                  *ngIf="active == i"
                  (click)="deleteFilter(i)"
                  style="margin-left: 0.5rem"
                >
                </clr-icon>
              </span>
            </div>
          </div>

          <div class="questionContainer">
            <div *ngIf="projectType !== 'ner' && projectType !== 'image' && projectType !== 'log'">
              <div class="textBox">
                <div *ngFor="let ticket of sr.originalData">
                  <p class="question-paragraph" style="word-break: break-word; white-space: pre-wrap">
                    <span class="ticketColumn">{{ ticket.key }}</span>
                    <span>:&nbsp;&nbsp;</span>
                    <span
                      *ngIf="renderFormat !== 'md'"
                      [innerHtml]="ticket.html"
                      style="white-space: nowrap"
                    ></span>
                    <span *ngIf="renderFormat === 'md'">{{ ticket.value }}</span>
                  </p>
                  <br />
                </div>
              </div>
            </div>
            <div *ngIf="projectType === 'image'">
              <div class="panel" style="margin-bottom: 1rem; margin-top: 0.5rem">
                <button
                  [ngClass]="{ rectSelected: rectSelected, rectUnselected: !rectSelected }"
                  class="btn btn-outline"
                  type="button"
                  (click)="onRects()"
                >
                  <img src="../../../../assets/images/rect.svg" alt="" />
                </button>
                <button
                  [ngClass]="{ rectSelected: !rectSelected, rectUnselected: rectSelected }"
                  name="onPolygonBtn"
                  class="btn btn-outline"
                  type="button"
                  (click)="onPolygon()"
                >
                  <img src="../../../../assets/images/polygon.svg" alt="" />
                </button>
                <button class="btn btn-outline" type="button" (click)="deletePolygon()">
                  <img src="../../../../assets/images/trash.svg" alt="" />
                </button>
                <button class="btn btn-outline" type="button" (click)="deleteAllPolygon()">
                  <img src="../../../../assets/images/refresh.svg" alt="" />
                </button>
              </div>
              <div id="label-studio">
                <!-- here is LSF image annotation -->
              </div>
            </div>
            <!-- here is ner annotation content -->
            <div *ngIf="projectType === 'ner'" class="nerBox">
              <div class="nerDisplayText">
                <div *ngFor="let ticket of sr.ticketQuestions">
                  <p class="question-paragraph" style="word-break: break-word">
                    <span class="ticketColumn">{{ ticket.key }}</span>
                    <span>:&nbsp;&nbsp;</span>
                    <span>{{ ticket.value }}</span>
                  </p>
                  <br />
                </div>
              </div>
              <div class="nerContent">
              <div class="nerPassage" (mouseup)="onMouseUp($event)">  
                <span id='mainText'>{{ sr?.originalData?.text }}</span>
              </div>
              <div class="annotateLabel">
                <div style="font-weight: 500;">Tips:</div>
                <ul class="resultTip">
                  <li>When mouse over or click the selected text will highlight the labeled text on the passage.</li>
                  <li *ngIf="isShowPopLabel">Click labeled text to see the secondary labels.</li>
                </ul>
                <div class="result">Results</div>
                <div *ngIf="spansList.length === 0">Nothing selected</div>  
                <div class="selectedSection">
                  <div
                  *ngFor="let spanText of spansList"
                  class="spanSelected"
                  (mouseenter)="mouseenterMark($event, spanText)"
                  (mouseleave)="mouseleaveMark($event, spanText)"
                  >
                  <span (click)="clickShowMark($event, spanText)" class="selectText">{{ spanText.text }}</span>
                  <span class="entity" [style.color]="getLabelColor(spanText.label)" title="{{ spanText.label | uppercase }}">{{ spanText.label }}</span>
                  <span *ngIf="isShowPopLabel && spanText.popUpLabel " class="entity" [style.color]="spanText.popLabelColor" title="{{ spanText.popUpLabel | uppercase }}">{{ spanText.popUpLabel }}</span>
                  <span class="clear" (click)="clickClearMark($event, spanText)">×</span>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="popDialog" id="popDialog">
              <div class="clearPop" (click)="clearPopDialog()">×</div>
              <div style="display: inline-table; padding-top: 1rem; padding-left: 0.5rem;">
                <button *ngFor="let poplabel of popLabels; let i = index" type="button" class="btn btn-sm"
                  [style.background-color]="popLabelColors[i]" [style.border-color]="popLabelColors[i]" style="color: white" [title]="poplabel"
                  (click)="clickPopLabel($event, poplabel, popLabelColors[i] )">{{ poplabel }}</button>
              </div>
              <div class="popDialog-arrow"></div>
              <div class="popDialog-insideArrow"></div>
            </div>
            <!-- here is log annotation content -->
            <div *ngIf="projectType === 'log'">
              <div class="editBar">
                <button
                  type="button"
                  class="btn btn-icon"
                  [ngClass]="{ wrap: !wrapText, noWrap: wrapText }"
                  role="tooltip"
                  aria-haspopup="true"
                  title="Wrap Text"
                  (click)="toWrapText()"
                >
                  <clr-icon
                    aria-hidden="true"
                    shape="child-arrow"
                    style="transform: rotateY(180deg); margin-top: -0.08rem"
                  ></clr-icon>
                  wrap
                </button>
              </div>
              <div class="txtBox" *ngIf="filterList.length <= 0">
                <div
                  *ngFor="let ticket of sr.originalData; let i = index"
                  id="c-{{ i }}"
                  class="clr-row txtRow{{ i }}"
                  title="{{
                    ticket.freeText
                      ? ticket.freeText
                      : '( Optional ) you can click the ellipsis-vertical after the index to add freeText for this line after annotation.'
                  }}"
                >
                  <div class=" clr-col-1 logIndex{{ i }} rowIndex">
                    <div class="signpost-item">
                      <div class="trigger-item">
                        <clr-signpost>
                          <div clrSignpostTrigger>
                            {{ i + 1 }}
                            <clr-icon
                              shape="ellipsis-vertical"
                              size="12"
                              style="margin-left: -0.2rem"
                              class="freeTextIcon{{ i }}"
                              [ngClass]="{ hasText: ticket.freeText, noText: !ticket.freeText }"
                            >
                            </clr-icon>
                          </div>

                          <clr-signpost-content [clrPosition]="'right-bottom'" *clrIfOpen>
                            <input
                              type="text"
                              id="basic"
                              placeholder="Enter free text here"
                              [disabled]="!ticket.annotate"
                              class="clr-input singleFreetext freeTextInput{{ i }}"
                              autocomplete="off"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="ticket.freeText"
                              (ngModelChange)="updateFreeText($event, i)"
                            />
                          </clr-signpost-content>
                        </clr-signpost>
                      </div>
                    </div>
                  </div>
                  <div
                    class="clr-col-10"
                    [ngClass]="{ txtRow: !wrapText, txtRowWrap: wrapText }"
                    (mousedown)="onMouseDownTxt(ticket, i)"
                    (mouseup)="onMouseUpTxt(ticket, i, 'current')"
                  >
                    <span class="txtRowEntity{{ i }}"></span>
                    <span class="logLine-{{ ticket.line }} txtRowContent{{ i }} ">
                      {{ ticket.text }}
                    </span>
                  </div>
                </div>
              </div>
              <div class="txtBox" *ngIf="filterList.length > 0">
                <div
                  *ngFor="let ticket of sr.originalData; let i = index"
                  id="c-{{ ticket.index }}"
                  class="clr-row txtRow{{ ticket.index }}"
                  title="{{
                    ticket.freeText
                      ? ticket.freeText
                      : '( Optional ) you can click the ellipsis-vertical after the index to add freeText for this line after annotation.'
                  }}"
                >
                  <div *ngIf="ticket.filter" class=" clr-col-1 logIndex{{ ticket.index }} rowIndex">
                    <div class="signpost-item">
                      <div class="trigger-item">
                        <clr-signpost>
                          <div clrSignpostTrigger>
                            {{ ticket.index + 1 }}
                            <clr-icon
                              shape="ellipsis-vertical"
                              size="12"
                              style="margin-left: -0.2rem"
                              class="freeTextIcon{{ ticket.index }}"
                              [ngClass]="{ hasText: ticket.freeText, noText: !ticket.freeText }"
                            >
                            </clr-icon>
                          </div>

                          <clr-signpost-content [clrPosition]="'right-bottom'" *clrIfOpen>
                            <input
                              type="text"
                              id="basic"
                              placeholder="Enter free text here"
                              [disabled]="!ticket.annotate"
                              class="clr-input singleFreetext freeTextInput{{ ticket.index }}"
                              autocomplete="off"
                              [ngModelOptions]="{ standalone: true }"
                              [(ngModel)]="ticket.freeText"
                              (ngModelChange)="updateFreeText($event, ticket.index)"
                            />
                          </clr-signpost-content>
                        </clr-signpost>
                      </div>
                    </div>
                  </div>
                  <div
                    *ngIf="ticket.filter"
                    class="clr-col-10"
                    [ngClass]="{ txtRow: !wrapText, txtRowWrap: wrapText }"
                    (mousedown)="onMouseDownTxt(ticket, ticket.index)"
                    (mouseup)="onMouseUpTxt(ticket, ticket.index, 'current')"
                  >
                    <span class="txtRowEntity{{ ticket.index }}"></span>
                    <span class="logLine-{{ ticket.line }} txtRowContent{{ ticket.index }} ">
                      {{ ticket.text }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="moreReviewInfo?.length > 1" class="limit-height">
            <h5 style="margin-top: 1rem">Annotator labeled results:</h5>
            <clr-datagrid>
              <clr-dg-column>Annotator</clr-dg-column>
              <clr-dg-column>Label</clr-dg-column>
              <clr-dg-row *ngFor="let reviewInfo of moreReviewInfo">
                  <clr-dg-cell>{{reviewInfo.annotator}}</clr-dg-cell>
                  <clr-dg-cell>{{reviewInfo.annotationInfo}}</clr-dg-cell>
              </clr-dg-row>
              <clr-dg-footer>{{moreReviewInfo.length}} annotation info</clr-dg-footer>
          </clr-datagrid>
          </div>
          <div class="clr-row" *ngIf="projectType !== 'image'">
            <h4 style="margin-top: 2rem; margin-left: 0.5rem">
              {{ projectInfo?.annotationQuestion }}
            </h4>
          </div>
          <!-- 6 colorful labels -->
          <div
            class="questionContainer"
            *ngIf="
              !isShowDropDown &&
              !isNumeric &&
              !isMultipleLabel &&
              !isMultipleNumericLabel &&
              (projectType == 'text' || projectType == 'tabular')
            "
          >
            <div>
              <button
                *ngFor="let label of categories; let i = index"
                class="btn labels label label{{ i }} submit cleanColor"
                style="margin: 0.3rem 0.2rem"
                type="submit"
                (click)="onSelectingCategory(label, i)"
                title="{{ label }}"
                [ngClass]="
                  active == i && i == 0
                    ? 'clickActive0'
                    : active == i && i == 1
                    ? 'clickActive1'
                    : active == i && i == 2
                    ? 'clickActive2'
                    : active == i && i == 3
                    ? 'clickActive3'
                    : active == i && i == 4
                    ? 'clickActive4'
                    : active == i && i == 5
                    ? 'clickActive5'
                    : {
                        green: i == 0,
                        red: i == 1,
                        yellow: i == 2,
                        blue: i == 3,
                        purple: i == 4,
                        orange: i == 5
                      }
                "
              >
                {{ label }}
              </button>
              &nbsp; &nbsp;
            </div>
          </div>
          <!-- dropdown labels -->
          <div
            class="clr-form-group category clr-row"
            *ngIf="isShowDropDown && !isMultipleLabel"
            (change)="onSelectingDropDown($event)"
          >
            <label for="category" class="label-tooltip">Labels : </label>
            <div class="clr-select-wrapper" style="min-width: 20%">
              <select formControlName="category" (click)="dropDownSubmit()" style="min-width: 90%">
                <option *ngFor="let category of categories" [value]="category">
                  {{ category }}
                </option>
              </select>
            </div>
            <span class="required asteristic">*</span>
            <span class="required">required</span>
          </div>
          <!-- numeric labels input -->
          <div *ngIf="isNumeric && !isMultipleLabel" class="clr-row">
              <div class="clr-control-container clr-col-3" style="margin-top: 0.5rem">
                <ngx-slider [(value)]="numericValue" [options]="numericOptions" (valueChange)="sliderEvent()"></ngx-slider>
              </div>
              <div class="clr-control-container clr-col-3" style="margin-top: 1rem"
                [ngClass]="{ 'clr-error': clrErrorTip }">
                <div class="clr-input-wrapper">
                  <input
                    #numericInput
                    autocomplete="off"
                    type="text"
                    id="example"
                    placeholder="Input value here and press enter"
                    class="clr-input"
                    style="width: 90%"
                    (keyup.enter)="enterNumeric($event)"
                    (keyup)="enterNumericUp($event)"
                    [(ngModel)]="labelChoose"
                    [ngModelOptions]="{ standalone: true }"
                  />
                  <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="clr-subtext">{{ numericMessage }}</span>
              </div>
          </div>
          <!-- ner entity label -->
          <div class="questionContainer" *ngIf="projectType == 'ner'">
            <div>
              <button
                *ngFor="let label of categories; let i = index"
                class="btn labels label entityLabel"
                [style.color]=" i == selectedEntityID ? 'white' : getLabelColor(label) "
                [style.border-color]="getLabelColor(label)"
                [style.background-color]=" i == selectedEntityID ? getLabelColor(label) : '' "
                [ngClass]="{
                  entitySelected: i == selectedEntityID,
                  entityLabel: i !== selectedEntityID
                }"
                (click)="onSelectingEntity($event, label, i)"
                title="{{ label }}"
              >
                {{ label }}
              </button>
              &nbsp; &nbsp;
            </div>
          </div>
          <!-- multiple checkbox labels -->
          <div
            class="questionContainer"
            *ngIf="isMultipleLabel && !isMultipleNumericLabel && (projectType == 'text' || projectType == 'tabular')"
          >
            <div class="clr-form-control" style="margin-top: 0">
              <div class="clr-control-container" style="width: 100%">
                <div
                  class="clr-checkbox-wrapper labelCheckbox multiLabel{{ i }}"
                  *ngFor="let label of categories; let i = index"
                >
                  <input
                    type="checkbox"
                    id="{{ label }}"
                    name="checkbox"
                    value="{{ label }}"
                    class="clr-checkbox"
                    (click)="selectLabel($event, i)"
                  />
                  <label title="{{ label }}" for="{{ label }}" class="clr-control-label">{{ label }}</label>
                </div>
              </div>
            </div>
          </div>
          <!-- multiple numeric checkbox labels -->
          <div class="questionContainer"
            *ngIf="isMultipleNumericLabel && (projectType == 'text' || projectType == 'tabular')"
          >
          <div class="clr-form-control" style="margin-top: 0">
            <div class="clr-control-container clr-row" style="width: 100%">
              <div
                class="clr-checkbox-wrapper labelCheckbox multiLabel{{ i }}"
                *ngFor="let score of scores; let i = index"
              >
                <div class="multiple-checkbox clr-control-container">
                  <input
                    type="checkbox"
                    id="{{ score.label }}"
                    name="checkbox"
                    value="{{ score.label }}"
                    class="clr-checkbox"
                    (click)="selectLabel($event, i)"
                  />
                  <label for="{{ score.label }}" class="clr-control-label multiple-label" title="{{ score.label }}">{{ score.label }}</label>
                </div>
                <div class="scoreSlider clr-control-container">
                  <ngx-slider [(value)]="scores[i].scoreValue" [options]="scores[i].scoreOptions" (valueChange)="scoreSliderEvent(i)"></ngx-slider>
                </div>
                <div class="scoreInput clr-control-container" [ngClass]="{ 'clr-error': scores[i].clrErrorTip }">
                  <div class="clr-input-wrapper">
                    <input
                      #scoreInput
                      autocomplete="off"
                      type="text"
                      id="scoreInput"
                      placeholder="Input value here and press enter"
                      class="clr-input"
                      style="width: 90%"
                      (keyup)="enterScoreUp($event, i)"
                      [(ngModel)]="scores[i].scoreInputValue"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span class="clr-subtext">{{ scoreMessage[i] }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
          <!-- txt log labels -->
          <div class="questionContainer" *ngIf="projectType == 'log'">
            <div>
              <button
                *ngFor="let item of logCategories; let i = index"
                class="logCategories logCategories{{ i }} btn labels label logEntityLabel"
                type="button"
                [ngClass]="{
                  logEntitySelected: i == selectedEntityID,
                  logEntityLabel: i !== selectedEntityID
                }"
                [ngStyle]="{
                  'border-left-color': item.color,
                  'background-color': i == selectedEntityID ? item.color : '',
                  'border-left-width': '6px',
                  'box-shadow': '1px 1px 3px 0px ' + '#9A9A9A'
                }"
                (click)="onSelectingEntity($event, label, i)"
                title="{{ item.label }}"
              >
                {{ item.label }}
              </button>
              &nbsp; &nbsp;
            </div>
            <div class="clr-textarea-wrapper clr-col-12" style="padding-left: 0.3rem">
              <textarea
                class="clr-textarea log-textarea"
                formControlName="logFreeText"
                placeholder="( Optional ) Please provide more details about the log above."
                rows="1"
              ></textarea>
            </div>
          </div>
          <div class="actions">
            <div
              *ngIf="actionError"
              class="alert alert-info alert-md"
              role="alert"
              style="margin-top: 1rem; margin-bottom: -1rem"
            >
              <div class="alert-items">
                <div class="alert-item static">
                  <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="info-circle"></clr-icon>
                  </div>
                  <div class="alert-text">{{ actionError }}</div>
                </div>
              </div>
              <button
                type="button"
                class="close"
                aria-label="Close"
                style="margin-top: 0px !important"
              >
                <clr-icon aria-hidden="true" shape="close" (click)="actionError = null"></clr-icon>
              </button>
            </div>
            <button
              *ngIf="startFrom !== 'review'
                && (projectType !== 'text' && projectType !== 'tabular' || isMultipleNumericLabel || isNumeric || isMultipleLabel)"   
              class="btn btn-success submit"
              type="submit"
              [disabled]="
                multipleLabelList.length == 0 &&
                spansList.length == 0 &&
                currentBoundingData.length == 0 && !isNumeric
              "
              title="{{
                multipleLabelList.length > 0 ||
                spansList.length > 0 ||
                currentBoundingData.length > 0
                  ? ''
                  : 'You can only submit after annotating'
              }}"
            >
              Submit
            </button>
            <button
              *ngIf="startFrom == 'review'
                && (projectType !== 'text' && projectType !== 'tabular' || isMultipleNumericLabel  || isNumeric || isMultipleLabel)"
              [disabled]="
                multipleLabelList.length == 0 &&
                spansList.length == 0 &&
                currentBoundingData.length == 0 && !isNumeric
              "
              class="btn btn-success submit"
              type="submit"
            >
              modify
            </button>
            <button
              *ngIf="startFrom === 'review'"
              class="btn btn-outline"
              type="button"
              (click)="pass()"
            >
              <clr-icon shape="checkbox-list"></clr-icon>
              Pass
            </button>

            <button class="btn btn-outline" type="button" (click)="onSkipGame()" [disabled]="disabledSkip">
              <clr-icon shape="ban"></clr-icon>
              Skip
            </button>
            <button class="btn btn-outline" type="button" (click)="isBack()">
              <clr-icon shape="undo"></clr-icon>
              Back to Previous
            </button>
            <button class="btn btn-primary btn-danger" type="button" (click)="onEndGame()">
              Exit
            </button>
          </div>
        </div>
        <div class="clr-col-1"></div>
      </div>
    </section>
  </div>

  <div *ngIf="loading" style="text-align: center">
    <div class="row">
      <span class="spinner" style="margin-top: 5rem; margin-bottom: -1rem"> Loading... </span>
      <span class="loadingSpan"> Loading Project Data, Please Wait... </span>
    </div>
  </div>
</form>

<clr-modal [(clrModalOpen)]="isEndingGameDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want to exit?</h3>
  <div class="modal-body">
    <p *ngIf="labelChoose != '' || questionForm.get('questionGroup.category').value">
      You already provided a label
    </p>
  </div>
  <div class="modal-footer modal-footer-annotate">
    <button class="btn btn-outline" type="button" (click)="isEndingGameDialog = false">No</button>
    <button type="button" class="btn btn-primary" (click)="outOfPage()" routerLinkActive="active">
      Yes
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="isSkippingGameDialog" [clrModalClosable]="false">
  <h3 class="modal-title">Are you sure you want skip?</h3>
  <div class="modal-body">
    <p *ngIf="labelChoose != '' || questionForm.get('questionGroup.category').value">
      You already provided a label
    </p>
  </div>
  <div class="modal-footer modal-footer-annotate">
    <button class="btn btn-outline" type="button" (click)="isSkippingGameDialog = false">No</button>
    <button type="button" class="btn btn-primary" (click)="skipAndFetchNewQuestion()">Yes</button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="error" [clrModalClosable]="false">
  <div class="modal-body">
    <div class="alert alert-text">
      <div class="alert-items">
        <div class="alert-item static">
          <div class="alert-icon-wrapper">
            <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
          </div>
          <span class="alert-text" *ngIf="error"> Message: {{ error }} </span>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-footer-annotate">
    <button
      *ngIf="error"
      class="btn btn-primary"
      type="button"
      (click)="outOfPage()"
      routerLinkActive="active"
    >
      OK
    </button>
  </div>
</clr-modal>
