/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.loading {
  background-color: rgba(0, 119, 184, 0.2);
  border-color: rgba(0, 119, 184, 0.2);
}

.login-wrapper .login {
  min-height: unset;
}

.helperText {
  font-size: 0.55rem;
  line-height: 0.6rem;
  color: #9c9c9c;
}