<!-- Copyright 2019-2022 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<clr-wizard #wizard [clrWizardOpen]="true" (clrWizardOpenChange)="clrWizardOpenChange($event)">
  <clr-wizard-title>Set Data</clr-wizard-title>
  <clr-wizard-button *ngIf="!isLoading" type="cancel">Cancel</clr-wizard-button>
  <clr-wizard-button *ngIf="!isLoading" [type]="'previous'">Previous</clr-wizard-button>
  <clr-wizard-button *ngIf="!isLoading" [type]="'next'">Next</clr-wizard-button>
  <clr-wizard-button *ngIf="!isLoading" [type]="'finish'">Done</clr-wizard-button>
  <clr-wizard-button *ngIf="isLoading">
    <span class="spinner spinner-inline"> Loading... </span>&nbsp;&nbsp;
    <span title="Data processing for large datasets may take up to 60 seconds...">
      Data processing for large datasets may take up to 60 seconds...
    </span></clr-wizard-button
  >

  <!-- preview csv -->
  <clr-wizard-page>
    <ng-template clrPageTitle>Preview CSV</ng-template>
    <div class="previewTable">
      <table aria-describedby="preview data" class="table">
        <thead>
          <tr>
            <th
              id="itemHeaderCsv"
              aria-describedby="previewTable"
              class="left"
              *ngFor="let itemHeader of wizardData.previewHeadDatas"
              style="vertical-align: baseline; border-right: 2px solid white"
            >
              {{ itemHeader }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let previewCont of wizardData.previewContentDatas">
            <td class="left" *ngFor="let item of previewCont">{{ item }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </clr-wizard-page>
  <!-- select label -->
  <clr-wizard-page
    [clrWizardPageNextDisabled]="(wizardData.projectType !== 'qa' && !selectedDropDownItem) || !formPageOne.valid"
    (clrWizardPageOnLoad)="clrWizardPageOnLoad('page2')"
  >
    <ng-template clrPageTitle>{{
      wizardData.projectType === 'ner'
        ? 'Please select a single text column which you intend to present to annotators to annotate'
        : wizardData.projectType === 'qa'
        ? 'Please select the question column which you intend to labels from'
        : 'Please select the column which you intend to calculate labels from'
    }}</ng-template>
    <ng-template clrPageNavTitle>{{
      wizardData.projectType === 'ner'
      ? 'Select Text Column'
      : wizardData.projectType === 'qa'
      ? 'Select Question Column'
      : 'Select Label Column'
    }}</ng-template>
    <form clrForm #formPageOne="ngForm">
      <app-clr-select
        [data]="clrSelectData"
        (valueChange)="onReceiveSelectedItem($event)"
      ></app-clr-select>
    </form>
  </clr-wizard-page>
  <!-- select text -->
  <clr-wizard-page
    (clrWizardPageOnLoad)="clrWizardPageOnLoad('page3')"
    [clrWizardPageNextDisabled]="wizardData.projectType === 'ner' ? false : selectDescription.length == 0"
  >
    <ng-template clrPageNavTitle>
      {{ wizardData.projectType === 'ner' ? 'Select Helpful Column' : 'Select Text Column' }}
    </ng-template>
    
    <ng-template clrPageTitle>
      {{
        wizardData.projectType === 'ner'
        ? 'Select the columns to present to annotators about the existing labels (optional) or helpful text (optional)'
        : 'Select the columns to present to annotators'
      }}
    </ng-template>

    <form clrForm #formPageTwo="ngForm">
      
      <div *ngIf="wizardData.projectType === 'qa'">
        <app-clr-select
          [data]="clrSelectData" 
          (valueChange)="onReciveSelectedText($event)">
        </app-clr-select>
      </div>

      <div class="checkboxDatagrid">
        <clr-datagrid
          class="previewTable"
          *ngIf="wizardData.projectType != 'ner' && wizardData.projectType != 'qa'"
          [(clrDgSelected)]="selectDescription"
        >
          <clr-dg-column class="ellipsis-datagrid" style="color: #000; margin-left: 5px"
            >Column Name</clr-dg-column
          >

          <clr-dg-row
            *clrDgItems="let column of checkboxColumns; let i = index"
            [clrDgItem]="column"
          >
            <clr-dg-cell class="ellipsis-datagrid" style="color: #000; margin-left: 5px">{{
              column
            }}</clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
        <clr-datagrid *ngIf="wizardData.projectType === 'ner'">
          <clr-dg-column class="ellipsis-datagrid">Column Name</clr-dg-column>
          <clr-dg-column class="ellipsis-datagrid">Existing Labels</clr-dg-column>
          <clr-dg-column class="ellipsis-datagrid">Helpful Text</clr-dg-column>
          <clr-dg-row
            *clrDgItems="let column of checkboxColumns; let i = index"
            [clrDgItem]="column"
          >
            <clr-dg-cell class="ellipsis-datagrid" style="color: #000; word-break: break-all">{{
              column.name
            }}</clr-dg-cell>
            <clr-dg-cell class="ellipsis-datagrid">
              <input
                type="checkbox"
                clrCheckbox
                name="checkbox1"
                [ngClass]="{
                  'disabled-checkbox': column.checkboxDisabled
                }"
                [disabled]="column.checkboxDisabled"
                [checked]="column.labelChecked"
                (change)="changeCheckbox(column.name, 'labelChecked')"
              />
            </clr-dg-cell>
            <clr-dg-cell class="ellipsis-datagrid">
              <input
                type="checkbox"
                clrCheckbox
                name="checkbox2"
                [checked]="column.helptextChecked"
                (change)="changeCheckbox(column.name, 'helptextChecked')"
              />
            </clr-dg-cell>
          </clr-dg-row>
        </clr-datagrid>
      </div>
    </form>
  </clr-wizard-page>
  <!-- confirm form -->
  <clr-wizard-page
    clrWizardPagePreventDefault="true"
    (clrWizardPageOnCommit)="onCommit()"
    (clrWizardPageOnCancel)="doCancel()"
    (clrWizardPagePrevious)="goBack($event)"
    (clrWizardPageOnLoad)="clrWizardPageOnLoad('page4')"
  >
    <ng-template clrPageTitle>Set Data</ng-template>
    <ng-template clrPageNavTitle>
      <span
        *ngIf="
          wizardData.projectType === 'ner'? selectedDropDownItem : selectDescription.length > 0
        "
      >
        Set Data
      </span>
      <span
        *ngIf="
          wizardData.projectType === 'ner'? !selectedDropDownItem : selectDescription.length === 0
        "
      >
        Not ready yet
      </span>
    </ng-template>
    <div>
      <section>
        <form clrForm>
          <clr-alert
            style="margin-bottom: 0.5rem"
            *ngIf="wizardData.status && wizardData.status.msg"
            [clrAlertType]="wizardData.status.ok ? 'warning' : 'danger'"
          >
            <clr-alert-item>
              <span class="alert-text">
                {{ wizardData.status?.msg }}
              </span>
            </clr-alert-item>
          </clr-alert>
          <fieldset [disabled]="true">
            <legend style="font-size: 1.2em !important; font-weight: bold">
              Please confirm that you are going to set data with all the below infomation.
            </legend>
            <div class="clr-row">
              <label>{{
                wizardData.projectType === 'ner'
                ? 'Select Text Column' 
                : this.wizardData.projectType === 'qa'
                ? 'Select Question Column'
                : 'Select Label Column'
              }}</label>
              <input
                class="clr-input"
                type="text"
                name="selectedDropDownItem"
                [(ngModel)]="selectedDropDownItem"
              />
            </div>
            <div class="clr-row" #formDatagridConfirm>
              <label>{{
                wizardData.projectType === 'ner' ? 'Select Helpful Column' : 'Select Text Column'
              }}</label>
              <input
                *ngIf="this.wizardData.projectType === 'qa'"
                class="clr-input"
                type="text"
                name="selectDescription"
                [(ngModel)]="selectDescription[0]"
              />
            </div>
          </fieldset>
        </form>
      </section>
    </div>
  </clr-wizard-page>
</clr-wizard>
