/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.clr-icon {
  &.clr-clarity-logo {
    background-image: url(../../../assets/images/clarity_logo.svg);
    height: 36px;
    width: 36px;
    margin-right: 11px;
  }
}

.ava-icon {
  &.ava-logo {
    background-image: url(../../../assets/images/ava-logo.png);
    width: 40px;
    height: 22px;
    margin-right: 11px;
  }
}

clr-header.header {
  background-color: #002538;
}

.points {
  text-align: right;
  border-bottom: 1px solid #56565652;
  background-color: #ffffff;
}

.points span {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.points span.last {
  margin-right: 20px;
}
