<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<clr-header>
  <div class="branding">
    <a href="#" [routerLink]="['/home']" class="nav-link">
      <clr-icon shape="flask" class="is-solid" style="color: #0077b8 !important"></clr-icon>
      <span class="title">{{ env.config.serviceTitle }}</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a class="nav-link" href="#" [routerLink]="['/game']" routerLinkActive="active">
      <span class="nav-text">Annotate</span>
    </a>
    <!-- <a class="nav-link" href="#" [routerLink]="['/results']" routerLinkActive="active">
      <span class="nav-text">Leaderboard</span>
    </a> -->
    <a class="nav-link" href="#" [routerLink]="['/datasets']" routerLinkActive="active">
      <span class="nav-text">Community Datasets</span>
    </a>
    <a
      *ngIf="showProjectTab"
      class="nav-link"
      href="#"
      [routerLink]="['/projects']"
      routerLinkActive="active"
    >
      <span class="nav-text">Projects</span>
    </a>
    <a
      *ngIf="showAdminTab"
      class="nav-link"
      href="#"
      [routerLink]="['/admin']"
      routerLinkActive="active"
    >
      <span class="nav-text">Admin</span>
    </a>
    <a
      *ngIf="showDatasetTab"
      class="nav-link"
      href="#"
      [routerLink]="['/myDatasets']"
      routerLinkActive="active"
    >
      <span class="nav-text">My Datasets</span>
    </a>
    <a class="nav-link" href="#" [routerLink]="['/faq']" routerLinkActive="active">
      <span class="nav-text">FAQ</span>
    </a>
  </div>
  <div class="header-actions">
    <a *ngIf="!loggedUser" (click)="login()" class="nav-link nav-text" style="cursor: pointer">
      Sign In
    </a>
    <clr-dropdown *ngIf="loggedUser">
      <button class="nav-text" clrDropdownTrigger>
        {{ loggedUser.email }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="logOut()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>

<!-- <clr-modal [clrModalOpen]="isVisible" [clrModalClosable]="false">
  <h3 class="modal-title">Your session has expired</h3>
  <div class="modal-body" style="margin-left: 0.1rem">
    <p>Sorry, your session has expired. Please log in again.</p>
  </div>
  <div class="modal-footer">
    <a type="button" class="btn btn-outline" (click)="reLogOut()">
      Close
    </a>
    <a type="button" class="btn btn-primary" (click)='reLogin()'>
      Login
    </a>
  </div>
</clr-modal> -->
