<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<clr-header>
  <div class="branding">
    <a href="#" [routerLink]="['/home']" class="nav-link">
      <clr-icon shape="flask" class="is-solid" style="color: #0077b8 !important"></clr-icon>
      <span class="title">{{ env.config.serviceTitle }}</span>
    </a>
  </div>
  <div class="header-nav" [clr-nav-level]="1">
    <a class="nav-link" href="#" [routerLink]="['/game']" routerLinkActive="active">
      <span class="nav-text">Annotate</span>
    </a>
    <!-- <a class="nav-link" href="#" [routerLink]="['/results']" routerLinkActive="active">
      <span class="nav-text">Leaderboard</span>
    </a> -->
    <a class="nav-link" href="#" [routerLink]="['/datasets']" routerLinkActive="active">
      <span class="nav-text">Community Datasets</span>
    </a>
    <a
      *ngIf="showProjectTab"
      class="nav-link"
      href="#"
      [routerLink]="['/projects']"
      routerLinkActive="active"
    >
      <span class="nav-text">Projects</span>
    </a>
    <a
      *ngIf="showAdminTab"
      class="nav-link"
      href="#"
      [routerLink]="['/admin']"
      routerLinkActive="active"
    >
      <span class="nav-text">Admin</span>
    </a>
    <a
      *ngIf="showDatasetTab"
      class="nav-link"
      href="#"
      [routerLink]="['/myDatasets']"
      routerLinkActive="active"
    >
      <span class="nav-text">My Datasets</span>
    </a>
    <a class="nav-link" href="#" [routerLink]="['/faq']" routerLinkActive="active">
      <span class="nav-text">FAQ</span>
    </a>
  </div>
  <div class="header-actions">
    <a *ngIf="!loggedUser" (click)="login()" class="nav-link nav-text" style="cursor: pointer">
      Sign In
    </a>
    <clr-dropdown *ngIf="loggedUser">
      <button class="nav-text" clrDropdownTrigger>
        {{ loggedUser.email }}
        <clr-icon shape="caret down" style="right: auto"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <a (click)="logOut()" clrDropdownItem>Log out</a>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</clr-header>
<div *ngIf="errMessage" class="alert alert-app-level alert-danger error" role="alert">
  <div class="alert-items">
    <div class="alert-item static">
      <div class="alert-icon-wrapper">
        <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
      </div>
      <div class="alert-text">Message: {{ errMessage }}</div>
    </div>
  </div>
</div>
