<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<div class="modal">
  <div class="modal-dialog modal-lg" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close" type="button">
          <clr-icon aria-hidden="true" shape="close" (click)="onCloseEditDialog()"></clr-icon>
        </button>
        <h3 class="modal-title">Edit Project</h3>
      </div>
      <div class="modal-body">
        <div>
          <clr-alert
            *ngIf="errorMessage"
            [clrAlertType]="'danger'"
            (clrAlertClosedChange)="errorMessage = ''"
          >
            <div class="alert-item">
              <span class="alert-text">{{ errorMessage }}</span>
            </div>
          </clr-alert>
          <clr-alert
            *ngIf="infoMessage"
            [clrAlertType]="'info'"
            (clrAlertClosedChange)="infoMessage = ''"
          >
            <div class="alert-item">
              <span class="alert-text">{{ infoMessage }}</span>
            </div>
          </clr-alert>
        </div>
        <div class="prev-info clr-row">
          <label for="projectName" class="label-tooltip clr-col-12 clr-col-md-4"
            >Project Name</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <input
              autocomplete="off"
              id="projectName"
              type="text"
              class="clr-input"
              [(ngModel)]="inputProjectName"
              (ngModelChange)="this.inputPnameUpdate.next($event)"
            />
          </div>
          <div>
            <clr-tooltip *ngIf="nameExist || inputProjectName == ''">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span *ngIf="nameExist">This name already exists</span>
                <span *ngIf="inputProjectName == ''">This field is required</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div class="prev-info clr-row">
          <label for="projectOwner" class="label-tooltip clr-col-12 clr-col-md-4"
            >Project Owner</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <input
              autocomplete="off"
              id="projectOwner"
              type="text"
              class="clr-input"
              [(ngModel)]="inputProjectCreator"
              placeholder="Email Address Required"
              (keyup)="onOwnerKeydown($event)"
              (click)="reOwner($event)"
              (change)="onInputingProjectOwner($event)"
            />
            <div *ngIf="showOwnerList">
              <ul>
                <li *ngFor="let item of ownerList; let i = index">
                  {{ item }}
                  <clr-icon shape="times" size="12" (click)="deleteOwner(i)"></clr-icon>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <clr-tooltip *ngIf="ownerList.length == 0 || inputOwnerValidation || !emailRegForOwner">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span *ngIf="ownerList.length == 0">This field is required</span>
                <span *ngIf="inputOwnerValidation">This owner has already exist!</span>
                <span *ngIf="!emailRegForOwner && env.config.authUrl"
                  >Wrong format! Only allow Vmware email box!</span
                >
                <span *ngIf="!emailRegForOwner && !env.config.authUrl">Wrong format!</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div class="prev-info clr-row">
          <label for="assignee" class="label-tooltip clr-col-12 clr-col-md-4">Annotators</label>
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <input
              autocomplete="off"
              id="assignee"
              type="text"
              class="clr-input"
              [(ngModel)]="inputProjectAssignee"
              (keyup)="onAssigneeKeydown($event)"
              (click)="reAssign($event)"
              (change)="onInputingAssignee($event)"
              placeholder="Email Address Required"
            />
            <div *ngIf="showAnnotatorList">
              <ul>
                <li *ngFor="let item of assigneeList; let i = index">
                  <span title="Annotator's email address">{{ item.email }}</span>
                  <input
                    type="number"
                    id="basic"
                    class="clr-input completeTicketNumber"
                    title="The number of the annotations this annotator has been completed"
                    style="width: 20% !important"
                    autocomplete="off"
                    disabled
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="item.completeCase"
                  />
                  <input
                    type="number"
                    id="basic"
                    class="clr-input assignTicketNumber"
                    title="The number of the annotations assigned to this annotator to complete"
                    style="width: 20% !important"
                    autocomplete="off"
                    [disabled]="item.default"
                    [ngModelOptions]="{ standalone: true }"
                    [(ngModel)]="item.assignedCase"
                    (blur)="editAssignedNumber(item)"
                  />
                  <clr-icon shape="times" size="12" (click)="deleteAssignee(i)"></clr-icon>
                </li>
              </ul>
            </div>
          </div>
          <div>
            <clr-tooltip *ngIf="assigneeList.length == 0 || inputAssigneeValidation || !emailReg">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span *ngIf="assigneeList.length == 0">This field is required</span>
                <span *ngIf="inputAssigneeValidation">This annotator has already exist!</span>
                <span *ngIf="!emailReg && env.config.authUrl"
                  >Wrong format! Only allow Vmware email box!</span
                >
                <span *ngIf="!emailReg && !env.config.authUrl">Wrong format!</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div class="prev-info clr-row">
          <label for="projectName" class="label-tooltip clr-col-12 clr-col-md-4">Label</label>
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7 labelBox">
            <div *ngIf="labelType != 'numericLabel'">
              <span
                *ngFor="let label of categoryList; let i = index"
                class="label"
                maxlength="5"
                (mouseenter)="overLabels(i)"
                (mouseleave)="outLabels(i)"
                [ngClass]="{
                  overLabels: activeOverOut == i,
                  activeEditLabel: activeClickInput == i
                }"
              >
                <input
                  maxlength="50"
                  clrInput
                  placeholder="{{ label.editLabel }}"
                  name="editLabel"
                  class="clr-input editInput"
                  [(ngModel)]="label.editLabel"
                  (ngModelChange)="editLabelChange($event, i)"
                  (keyup.enter)="enterEditLabel(label)"
                  (blur)="blurEditLabel(label)"
                  (click)="editLabel(label, i)"
                  [readonly]="activeClickInput == i ? false : true"
                  autocomplete="off"
                />
                <clr-icon
                  *ngIf="activeOverOut == i && activeClickInput != i"
                  size="12"
                  shape="times"
                  class="deleteIcon"
                  (click)="isShowDelete(label, i)"
                >
                </clr-icon>
              </span>
              &nbsp; &nbsp;
              <input
                #labels
                id="labels"
                maxlength="50"
                clrInput
                placeholder="Add New Label Here"
                name="addNewLabel"
                class="clr-input"
                [(ngModel)]="inputNewLabel"
                (keyup.enter)="onEnterLabel(labels.value)"
                (blur)="labelsBlur($event)"
                (keyup)="onLabelKeyUp($event)"
                [disabled]="categoryList.length > 49"
                autocomplete="off"
              />
            </div>
            <div
              class="clr-row numeric"
              *ngIf="labelType == 'numericLabel' && !isMultipleLabel "
              style="margin-top: 0.5rem; margin-left: 0.5rem"
            >
              <div class="clr-row clr-col-12 clr-col-md-5">
                <div class="clr-control-container" style="width: 100%">
                  <div class="clr-input-wrapper">
                    <input
                      type="number"
                      id="min"
                      [(ngModel)]="msg.min"
                      placeholder="{{ msg.min }}"
                      class="clr-input"
                      (ngModelChange)="minUpdate($event)"
                    />
                  </div>
                  <span class="clr-subtext" style="margin-top: 0.5rem"
                    >Please set the minimum value</span
                  >
                </div>
              </div>
              <div class="clr-col-12 clr-col-md-1" style="text-align: center; margin-top: 0.3rem">
                ——
              </div>
              <div class="clr-col-12 clr-col-md-5">
                <div class="clr-control-container" style="width: 100%">
                  <div class="clr-input-wrapper">
                    <input
                      type="number"
                      id="max"
                      [(ngModel)]="msg.max"
                      placeholder="{{ msg.max }}"
                      class="clr-input"
                      (ngModelChange)="maxUpdate($event)"
                    />
                  </div>
                  <span class="clr-subtext" style="margin-top: 0.5rem"
                    >Please set the maximum value</span
                  >
                </div>
              </div>
            </div>
            <!-- both label -->
            <form
              *ngIf="labelType === 'numericLabel' && isMultipleLabel"
              class="form"
              [formGroup]="mutilNumericForm"
              autocomplete="off"
              (keydown.enter)="$event.preventDefault()"
            >  
            <div
              class="clr-row"
              style="margin-top: 1rem; margin-left: 0.2rem"
              formArrayName="mutilLabelArray"
            > 
            <div *ngFor="let mutilLabelEle of mutilLabelArray.controls; let i=index" [formGroupName]="i" class="clr-row clr-col-12" style="margin-bottom: 0.5rem">
              <div class="clr-row clr-col-12 clr-col-md-4 mutilLabel-row">
                <div class="clr-control-container" style="width: 100%">
                  <div class="clr-input-wrapper">
                    <input
                      #multiLabels
                      id="multiLabels"
                      maxlength="50"
                      class="clr-input mutilLabel-input"
                      placeholder="New Label"
                      name="multiLabel"
                      formControlName="editLabel"
                      (keyup)="onMutilLabelKeydown($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="clr-col-12 clr-col-md-3 mutilLabel-row">
                <div class="clr-control-container" style="width: 100%">
                  <div class="clr-input-wrapper">
                    <input
                      type="number"
                      id="minMutilVal"
                      formControlName="minMutilVal"
                      placeholder="Minimum value"
                      class="clr-input"
                      (keyup)="minUpdate($event)"
                      (change)="minUpdate($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="clr-col-12 clr-col-md-1 mutilLabel-row" style="text-align: center; margin-left: 0.5rem;">—</div>
              <div class="clr-col-12 clr-col-md-3 mutilLabel-row">
                <div class="clr-control-container" style="width: 100%">
                  <div class="clr-input-wrapper">
                    <input
                      type="number"
                      id="maxMutilVal"
                      formControlName="maxMutilVal"
                      placeholder="Maximum value"
                      class="clr-input"
                      (keyup)="maxUpdate($event)"
                      (change)="maxUpdate($event)"
                    />
                  </div>
                </div>
              </div>
              <div class="clr-col-12 clr-col-md-1" style="margin-left: 0.5rem;">
                <clr-tooltip *ngIf="labelType === 'numericLabel' && isMultipleLabel && mutilLabelArray.controls[i].value.status == 'old'
                  && (mutilLabelArray.controls[i].value.minMutilVal >= mutilLabelArray.controls[i].value.maxMutilVal
                  || mutilLabelArray.controls[i].value.minMutilVal > mutilLabelArray.controls[i].value.oldMinMutilVal
                  || mutilLabelArray.controls[i].value.maxMutilVal < mutilLabelArray.controls[i].value.oldMaxMutilVal)">
                  <clr-icon
                    clrTooltipTrigger
                    shape="error-standard"
                    size="14"
                    style="color: red"
                    class="valid-tooltip"
                  >
                  </clr-icon>
                  <clr-tooltip-content
                    class="error-tooltip"
                    clrPosition="bottom-right"
                    clrSize="md"
                    *clrIfOpen
                  >
                    <span>Please make sure the new scope cover the old scope {{ oldMinMutilVal }}--{{ oldMaxMutilVal }} !
                      And the Min should less than the Max!</span>
                  </clr-tooltip-content>
                </clr-tooltip>
                <clr-tooltip *ngIf="labelType === 'numericLabel' && isMultipleLabel && mutilLabelArray.controls[i].value.status == 'new'
                  && (mutilLabelArray.controls[i].value.minMutilVal >= mutilLabelArray.controls[i].value.maxMutilVal)">
                  <clr-icon
                    clrTooltipTrigger
                    shape="error-standard"
                    size="14"
                    style="color: red"
                    class="valid-tooltip"
                  >
                  </clr-icon>
                  <clr-tooltip-content
                    class="error-tooltip"
                    clrPosition="bottom-right"
                    clrSize="md"
                    *clrIfOpen
                  ><span>Please make sure the Min should less than the Max!</span>
                  </clr-tooltip-content>
                </clr-tooltip>
                <clr-icon *ngIf="mutilLabelArray.length > 2" style="margin-left: 1rem;" [ngClass]="{scoreErr:
                  (mutilLabelArray.controls[i].value.minMutilVal >= mutilLabelArray.controls[i].value.maxMutilVal
                  || (mutilLabelArray.controls[i].value.oldMinMutilVal && mutilLabelArray.controls[i].value.minMutilVal > mutilLabelArray.controls[i].value.oldMinMutilVal)
                  || (mutilLabelArray.controls[i].value.oldMaxMutilVal && mutilLabelArray.controls[i].value.maxMutilVal < mutilLabelArray.controls[i].value.oldMaxMutilVal))}"
                  shape="times" size="14" (click)="deleteMutilLabel(i)"></clr-icon>
              </div>
            </div>
              <button class="btn btn-icon add-btn" (click)="addMutilLabel()" [disabled]="mutilLabelArray.length > 49">
                <clr-icon shape="plus"></clr-icon>
              </button>
            </div>
            </form>
          </div>
          <div>
            <clr-tooltip *ngIf="labelType === 'numericLabel' && isMultipleLabel && inputIsNull">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>This field is required!</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="labelType === 'numericLabel' && isMultipleLabel && inputIsNotInterger">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>The Min or Max should be interger!</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="labelType === 'numericLabel' && isMultipleLabel && inputLabelValidation">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>This label has already exist!</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="!(labelType === 'numericLabel' && isMultipleLabel) && sizeError || msg.min > oldMin || msg.max < oldMax">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span
                  >Please make sure the new scope cover the old scope {{ oldMin }}--{{ oldMax }} !
                  And the Min should less than the Max!</span
                >
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div class="prev-info clr-row" *ngIf="msg.projectType == 'log'">
          <label for="isShowFilename" class="label-tooltip clr-col-12 clr-col-md-4"
            >Show File Name</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <label class="md-check format clr-row" style="margin-left: 0.1rem">
              <clr-radio-wrapper>
                <input
                  type="radio"
                  clrRadio
                  class="clr-radio"
                  [(ngModel)]="isShowFilename"
                  value="yes"
                  id="yes"
                  name="isShowFilename"
                />
                <label for="yes">&nbsp;Yes</label> </clr-radio-wrapper
              >&nbsp; &nbsp;
              <clr-radio-wrapper style="margin-left: 1.2rem">
                <input
                  type="radio"
                  clrRadio
                  class="clr-radio"
                  [(ngModel)]="isShowFilename"
                  value="no"
                  id="no"
                  name="isShowFilename"
                />
                <label for="no">&nbsp;No</label>
              </clr-radio-wrapper>
            </label>
          </div>
        </div>
        <div
          class="prev-info clr-row"
          *ngIf="
            !(labelType == 'numericLabel' || msg.projectType == 'ner' || msg.isMultipleLabel) &&
            msg.src == 'admin'
          "
        >
          <label for="trigger" class="label-tooltip clr-col-12 clr-col-md-4"
            >Active Learning Threshold</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <input
              autocomplete="off"
              id="trigger"
              type="text"
              class="clr-input"
              [(ngModel)]="inputTrigger"
              (blur)="inputTriggerBlur($event)"
              [disabled]="msg.al.trained"
            />
          </div>
          <div>
            <clr-tooltip *ngIf="inputTrigger == ''">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>This field is required</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="notTriggerNumber">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>Wrong format! number only!</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="minThreshold">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>Should not less than the minimum threshold 50 !</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div
          class="prev-info clr-row"
          *ngIf="
            !(labelType == 'numericLabel' || msg.projectType == 'ner' || msg.isMultipleLabel) &&
            msg.src == 'admin'
          "
        >
          <label for="frequency" class="label-tooltip clr-col-12 clr-col-md-4"
            >Active Learning Frequency</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <input
              autocomplete="off"
              id="frequency"
              type="text"
              class="clr-input"
              [(ngModel)]="inputfrequency"
              (blur)="inputFrequencyBlur($event)"
            />
          </div>
          <div>
            <clr-tooltip *ngIf="inputfrequency == ''">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>This field is required</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="notNumber">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>Wrong format! number only!</span>
              </clr-tooltip-content>
            </clr-tooltip>
            <clr-tooltip *ngIf="minFrequency">
              <clr-icon
                clrTooltipTrigger
                shape="error-standard"
                size="18"
                style="color: red"
                class="valid-tooltip"
              >
              </clr-icon>
              <clr-tooltip-content
                class="error-tooltip"
                clrPosition="bottom-right"
                clrSize="md"
                *clrIfOpen
              >
                <span>Should not less than the minimum frequency 10 !</span>
              </clr-tooltip-content>
            </clr-tooltip>
          </div>
        </div>
        <div
          class="prev-info clr-row"
          *ngIf="labelType == 'numericLabel' || msg.projectType == 'ner' || msg.isMultipleLabel"
        >
          <label for="assignmentLogicEdit" class="label-tooltip clr-col-12 clr-col-md-4"
            >Assignment Logic</label
          >
          <div class="clr-input-wrapper clr-col-12 clr-col-md-7">
            <label class="md-check format clr-row" style="margin-left: 0.1rem">
              <clr-radio-wrapper>
                <input
                  type="radio"
                  clrRadio
                  class="clr-radio"
                  [(ngModel)]="assignmentLogicEdit"
                  value="random"
                  id="random"
                  name="assignmentLogicEdit"
                />
                <label for="random">&nbsp;Random</label> </clr-radio-wrapper
              >&nbsp; &nbsp;
              <clr-radio-wrapper>
                <input
                  type="radio"
                  clrRadio
                  class="clr-radio"
                  [(ngModel)]="assignmentLogicEdit"
                  value="sequential"
                  id="sequential"
                  name="assignmentLogicEdit"
                />
                <label for="sequential">&nbsp;Sequential</label>
              </clr-radio-wrapper>
            </label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline" type="button" (click)="onCloseEditDialog()">Cancel</button>
        <button
          *ngIf="!editProjectComplete"
          class="btn btn-primary"
          type="button"
          (click)="saveProjectEdit()"
        >
          Ok
        </button>
        <button *ngIf="editProjectComplete" type="button" class="btn uploadLoading">
          <clr-spinner
            style="
              min-height: 0.75rem;
              min-width: 0.75rem;
              height: 0.75rem;
              width: 0.75rem;
              margin-top: 0.09rem;
            "
            clrAssertive
            >loading</clr-spinner
          >
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop" aria-hidden="true"></div>

<div *ngIf="isShowDeleteModal">
  <div class="modal" style="z-index: 2001">
    <div class="modal-dialog modal-md" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button aria-label="Close" class="close" type="button">
            <clr-icon aria-hidden="true" shape="close" (click)="onCloseDeleteDialog()"></clr-icon>
          </button>
          <h3 class="modal-title">Delete Label</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete the label ?</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-outline" type="button" (click)="onCloseDeleteDialog()">
            Cancel
          </button>
          <button
            *ngIf="!deleteLabelComplete"
            class="btn btn-primary"
            type="button"
            (click)="deleteLabel()"
          >
            Ok
          </button>
          <button *ngIf="deleteLabelComplete" type="button" class="btn uploadLoading">
            <clr-spinner
              style="
                min-height: 0.75rem;
                min-width: 0.75rem;
                height: 0.75rem;
                width: 0.75rem;
                margin-top: 0.09rem;
              "
              clrAssertive
              >loading</clr-spinner
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-backdrop" aria-hidden="true" style="z-index: 2000; opacity: 0.25"></div>
</div>
