/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.prev-info {
  margin-top: 10px;
}

.modal-dialog input[type='text'] {
  width: 100% !important;
  margin-bottom: 0px;
}

ul li {
  list-style-type: none;
}

.modal-footer .btn {
  margin: 0 1.5rem 0 -1rem;
}

.uploadLoading {
  background-color: rgba(0, 119, 184, 0.2);
  border-color: rgba(0, 119, 184, 0.2);
  padding-top: 0.2rem;
}

.labelBox {
  border: 1px solid #999;
  border-radius: 4px;
  margin-left: 0.5rem;
  min-height: 5rem;
  padding: 0.5rem;

  .label {
    position: relative;
    padding: 0 0.8rem 1px;
    margin-top: 0.3rem;

    ::ng-deep .clr-form-control {
      margin-top: unset;
    }
  }
}

.overLabels {
  background-color: #dddddd;
  opacity: 0.5;
  cursor: pointer;
}

.activeEditLabel {
  background-color: white;
  opacity: 1;
  outline: none;
  border: none;
  cursor: pointer;
}

.deleteIcon {
  margin: 0;
  padding: 0;
  color: black;
  position: absolute;
  right: 0.2rem;
}

.editInput {
  margin: initial;
  border-bottom: unset;
  cursor: pointer;
}

.numeric .clr-input {
  border-radius: 6px 6px 0 0;
  height: 2rem !important;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: white;
}

.completeTicketNumber{
  margin-left: 1rem;
  margin-right: 1rem;
}


