<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<div class="container mainArea">
  <clr-alert *ngIf="errorMessage" [clrAlertType]="'danger'" (clrAlertClosedChange)="errorMessage=''">
    <div class="alert-item"><span class="alert-text">{{errorMessage}}</span></div>
  </clr-alert>
  <clr-alert *ngIf="infoMessage" [clrAlertType]="'info'" (clrAlertClosedChange)="infoMessage=''">
    <div class="alert-item"><span class="alert-text">{{infoMessage}}</span></div>
  </clr-alert>
  <h2>Projects</h2>
  <div class="row clr-row">
    <div class="clr-col-md-10 clr-col-12">
      <div class="row clr-row">
        <div class="clr-col-md-6 clr-col-12" *ngIf="pagination">
          <dropdown-pagesize (valueChange)="valueChange($event)" [allCounts]="pagination.totalItems">
          </dropdown-pagesize>
        </div>
      </div>
    </div>
  </div>

  <!-- <clr-datagrid #dataGird (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" class="gridHeight"> -->
  <clr-datagrid #dataGird [clrDgLoading]="loading" class="gridHeight">
    <clr-dg-placeholder>We couldn't find any annotation task for you!</clr-dg-placeholder>
    <clr-dg-column [clrDgField]="'projectName'" class="ellipsis-datagrid" style="max-width:250px">Project Name
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'taskInstructions'" class="ellipsis-datagrid" style="max-width:250px">Task Instructions
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'creator'" class="ellipsis-datagrid" style="max-width:300px">Creator</clr-dg-column>
    <clr-dg-column [clrDgField]="'createdDate'" class="ellipsis-datagrid">Created Date</clr-dg-column>
    <clr-dg-column [clrDgField]="'updatedDate'" class="ellipsis-datagrid">Annotation Updated Date</clr-dg-column>
    <clr-dg-column [clrDgField]="'dataSource'" class="ellipsis-datagrid" style="max-width:300px">Data Source
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'assignmentLogic'" class="ellipsis-datagrid">Assignment Logic</clr-dg-column>
    <clr-dg-column [clrDgField]="'userCompleteCase'" class="ellipsis-datagrid">Complete/Total</clr-dg-column>
    <clr-dg-column [clrDgField]="'categoryList'" class="ellipsis-datagrid labels" style="max-width:300px">Labels
    </clr-dg-column>
    <clr-dg-column class="column-action" style="min-width:120px">Annotate</clr-dg-column>

    <ng-container>
      <clr-dg-row *clrDgItems="let dataset of datasets" [clrDgItem]="dataset">
        <clr-dg-cell class="ellipsis-datagrid cellWordBreak" title="{{dataset.projectName}}" style="max-width:250px">
          <a style="cursor: pointer" (click)="clickProjectName(dataset)">{{dataset.projectName}}</a>
        </clr-dg-cell>
        <clr-dg-cell class="cellWordBreak" title="{{dataset.taskInstructions}}" style="max-width:250px">
          {{dataset.taskInstructions}}
        </clr-dg-cell>
        <clr-dg-cell class="cellWordBreak" title="{{dataset.creator}}" style="max-width:300px">{{dataset.creator}}
        </clr-dg-cell>
        <clr-dg-cell>{{dataset.createdDate | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
        <clr-dg-cell>{{dataset.updatedDate | date:'yyyy-MM-dd HH:mm:ss'}}</clr-dg-cell>
        <clr-dg-cell class="cellWordBreak" title="{{dataset.dataSource}}" style="max-width:300px">{{dataset.dataSource}}
        </clr-dg-cell>
        <clr-dg-cell
          *ngIf="dataset.labelType=='numericLabel' || dataset.projectType=='ner' ||dataset.isMultipleLabel || dataset.projectType=='image'">
          {{dataset.assignmentLogic|toUpperCase}}</clr-dg-cell>
        <clr-dg-cell
          *ngIf="!(dataset.labelType=='numericLabel' || dataset.projectType=='ner' || dataset.projectType=='image' ||dataset.isMultipleLabel)">
          Active
          learning</clr-dg-cell>
        <clr-dg-cell>{{dataset.userCompleteCase}}/{{dataset.totalCase}}</clr-dg-cell>
        <clr-dg-cell class="cellWordBreak"
          title="{{dataset.labelType=='numericLabel'?dataset.min+'--'+dataset.max:dataset.categoryList}}"
          style="max-width:300px">
          {{dataset.labelType=='numericLabel'?dataset.min+'--'+dataset.max:dataset.categoryList}}</clr-dg-cell>

        <clr-dg-cell style="min-width:120px">
          <button
            *ngIf="dataset.totalCase!=0 && (dataset.projectCompleteCase ? dataset.totalCase>dataset.projectCompleteCase : dataset.totalCase!=dataset.userCompleteCase)"
            class="btn btn-sm btn-primary" [routerLink]="['/annotate']"
            [queryParams]="{ name: dataset.projectName,projectType:dataset.projectType,id:dataset.id}"
            style="margin: 0;" title="Start Annotate">Start</button>
          <button
            *ngIf="dataset.totalCase!=0 && (dataset.totalCase==dataset.userCompleteCase || dataset.projectCompleteCase>=dataset.totalCase)"
            class="btn btn-sm btn-primary" style="margin: 0;" title="Annotation Finished" disabled>Done</button>
          <button *ngIf="dataset.totalCase==0" class="btn btn-sm btn-primary" title="Data is Inserting"
            style="margin: 0;" disabled>Wait</button>
        </clr-dg-cell>
      </clr-dg-row>
    </ng-container>

    <clr-dg-footer>
      <clr-dg-column-toggle [hidden]="true"></clr-dg-column-toggle>
      {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} Projects
      <clr-dg-pagination #pagination [clrDgPageSize]="pageSize" [clrDgTotalItems]="totalItems" [(clrDgPage)]="page">
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>


<flag *ngIf="showFlagModal" [msg]="flagData" (closeFlagModal)="receiveCloseFlagModal($event)"></flag>