/*
Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.mainArea {
  margin: 0 2rem;
}

.cellWordBreak {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 1.8rem;
  line-height: 0.7rem;
}

.annotatorCellWordBreak {
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 4.1rem;
  line-height: 0.7rem;
}

.isShowHide {
  margin-top: 5px;
  color: #0077b8;
}

.isShowHide:hover {
  cursor: pointer;
  font-weight: bold;
}

.showIcon {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.startBtn {
  margin: 0;
  margin-right: 0.3rem;
}

@media (max-width: 1440px) {
  .colwidth {
    max-width: 220px;
  }
}
  

@media (min-width: 1441px) {
  .colwidth {
    max-width: 300px;
  }
}

.disableTree {
  ::ng-deep .clr-checkbox-wrapper .clr-control-label {
    pointer-events: none;
    opacity: 0.5;
  }

  ::ng-deep .clr-checkbox-wrapper input[type=checkbox] {
    pointer-events: none;
  }
}
