<!-- Copyright 2019-2021 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<div class="container mainArea">
  <clr-alert
    *ngIf="errorMessage"
    [clrAlertType]="'danger'"
    (clrAlertClosedChange)="errorMessage = ''"
  >
    <div class="alert-item">
      <span class="alert-text">{{ errorMessage }}</span>
    </div>
  </clr-alert>
  <h2>Projects</h2>
  <clr-tabs>
    <clr-tab>
      <!-- <button clrTabLink (click)="clickAnnotate()">Annotate</button> -->
      <!-- <clr-tab-content id="content1" *clrIfActive="!isShowReviewTab"> -->
      <button clrTabLink>Annotate</button>
      <clr-tab-content id="content1">
        <div class="row clr-row">
          <div class="clr-col-md-10 clr-col-12">
            <div class="row clr-row">
              <div class="clr-col-md-6 clr-col-12" *ngIf="pagination">
                <app-dropdown-pagesize
                  (valueChange)="valueChange($event)"
                  [allCounts]="pagination.totalItems"
                >
                </app-dropdown-pagesize>
              </div>
            </div>
          </div>
        </div>
        <!-- <clr-datagrid #dataGird (clrDgRefresh)="refresh($event)" [clrDgLoading]="loading" class="gridHeight"> -->
        <clr-datagrid #dataGird [clrDgLoading]="loading" class="gridHeight">
          <clr-dg-placeholder>We couldn't find any project for you!</clr-dg-placeholder>
          <clr-dg-column
            [clrDgField]="'projectName'"
            class="ellipsis-datagrid"
            style="max-width: 300px"
            >Project Name
          </clr-dg-column>
          <clr-dg-column
            [clrDgField]="'updatedDate'"
            class="ellipsis-datagrid"
            >Updated Date
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'userCompleteCase'" class="ellipsis-datagrid" style="max-width: 300px">
            Complete/Assigned
          </clr-dg-column>
          <clr-dg-column [clrDgField]="'userCompleteCase'" class="ellipsis-datagrid" style="max-width: 300px"
            >Reviewed/Complete</clr-dg-column
          >
          <clr-dg-column
            [clrDgField]="'categoryList'"
            class="ellipsis-datagrid labels"
            >Labels
          </clr-dg-column>
          <clr-dg-column class="column-action" style="min-width: 180px">Action</clr-dg-column>

          <ng-container>
            <clr-dg-row *clrDgItems="let dataset of datasets" [clrDgItem]="dataset">
              <clr-dg-cell
                class="ellipsis-datagrid cellWordBreak"
                title="{{ dataset.projectName }}"
                style="max-width: 300px"
                >{{ dataset.projectName }}
              </clr-dg-cell>
              <clr-dg-cell>{{
                dataset.updatedDate | date: 'yyyy-MM-dd HH:mm:ss'
              }}</clr-dg-cell>
              <clr-dg-cell style="max-width: 300px">
                <div>
                  <div *ngIf="dataset.userCompleteCase.length < 6">
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span
                        *ngIf="
                          assignee.assignedCase > assignee.completeCase && dataset.totalCase != 0
                        "
                        class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.completeCase >= assignee.assignedCase && dataset.totalCase != 0
                        "
                        class="badge badge-success"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span *ngIf="dataset.totalCase == 0" class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && dataset.isExtend"
                    class="annotatorCellWordBreak"
                  >
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span
                        *ngIf="
                          assignee.assignedCase > assignee.completeCase && dataset.totalCase != 0
                        "
                        class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.completeCase >= assignee.assignedCase && dataset.totalCase != 0
                        "
                        class="badge badge-success"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span *ngIf="dataset.totalCase == 0" class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="dataset.userCompleteCase.length >= 6 && !dataset.isExtend">
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span
                        *ngIf="
                          assignee.assignedCase > assignee.completeCase && dataset.totalCase != 0
                        "
                        class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.completeCase >= assignee.assignedCase && dataset.totalCase != 0
                        "
                        class="badge badge-success"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                      <span *ngIf="dataset.totalCase == 0" class="badge badge-1"
                        >{{ assignee.completeCase }}/{{ assignee.assignedCase }}</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && dataset.isExtend"
                    (click)="more(dataset.id)"
                    class="isShowHide"
                  >
                    show
                    <clr-icon class="showIcon" shape="angle"></clr-icon>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && !dataset.isExtend"
                    (click)="more(dataset.id)"
                    class="isShowHide"
                  >
                    hide
                    <clr-icon shape="angle"></clr-icon>
                  </div>
                </div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="dataset.projectType == 'log'" style="max-width: 300px">
                <div>
                  <div *ngIf="dataset.userCompleteCase.length < 6">
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span *ngIf="assignee.completeCase > assignee.reviewed" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.reviewed >= assignee.completeCase && assignee.completeCase !== 0
                        "
                        class="badge badge-success"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span *ngIf="assignee.completeCase == 0" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && dataset.isExtend"
                    class="annotatorCellWordBreak"
                  >
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span *ngIf="assignee.completeCase > assignee.reviewed" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.reviewed >= assignee.completeCase && assignee.completeCase !== 0
                        "
                        class="badge badge-success"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span *ngIf="assignee.completeCase == 0" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                    </div>
                  </div>
                  <div *ngIf="dataset.userCompleteCase.length >= 6 && !dataset.isExtend">
                    <div
                      *ngFor="let assignee of dataset.userCompleteCase"
                      style="margin-bottom: 3px"
                    >
                      {{ assignee.user }}
                      <span *ngIf="assignee.completeCase > assignee.reviewed" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span
                        *ngIf="
                          assignee.reviewed >= assignee.completeCase && assignee.completeCase !== 0
                        "
                        class="badge badge-success"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                      <span *ngIf="assignee.completeCase == 0" class="badge badge-1"
                        >{{ assignee.reviewed }}/{{ assignee.completeCase }}</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && dataset.isExtend"
                    (click)="more(dataset.id)"
                    class="isShowHide"
                  >
                    show
                    <clr-icon class="showIcon" shape="angle"></clr-icon>
                  </div>
                  <div
                    *ngIf="dataset.userCompleteCase.length >= 6 && !dataset.isExtend"
                    (click)="more(dataset.id)"
                    class="isShowHide"
                  >
                    hide
                    <clr-icon shape="angle"></clr-icon>
                  </div>
                </div>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="dataset.projectType !== 'log'" class="cellWordBreak" style="max-width: 300px;"
                >--</clr-dg-cell
              >
              <clr-dg-cell
                class="cellWordBreak"
                title="{{
                  dataset.labelType == 'numericLabel'
                    ? dataset.min + '--' + dataset.max
                    : dataset.categoryList
                }}"
              >
                {{
                  dataset.labelType == 'numericLabel'
                    ? dataset.min + '--' + dataset.max
                    : dataset.categoryList
                }}</clr-dg-cell
              >

              <clr-dg-cell style="min-width: 180px">
                <button
                  *ngIf="
                    dataset.totalCase != 0 &&
                    (dataset.projectCompleteCase
                      ? dataset.totalCase > dataset.projectCompleteCase
                      : dataset.totalCase != dataset.userCompleteCase) &&
                    dataset.allowStart
                  "
                  class="btn btn-sm btn-primary startBtn"
                  title="Start Annotate"
                  (click)="
                    startAnnotate(
                      dataset.projectName,
                      dataset.projectType,
                      dataset.id,
                      dataset.totalCase - dataset.projectCompleteCase
                    )
                  "
                >
                  Start
                </button>
                <button
                  *ngIf="
                    dataset.totalCase != 0 &&
                    (dataset.totalCase == dataset.userCompleteCase ||
                      dataset.projectCompleteCase >= dataset.totalCase) &&
                    dataset.allowStart
                  "
                  class="btn btn-sm btn-primary startBtn"
                  title="Annotation Finished"
                  disabled
                >
                  Done
                </button>
                <button
                  *ngIf="dataset.totalCase == 0 && dataset.allowStart"
                  class="btn btn-sm btn-primary startBtn"
                  title="Data is Inserting"
                  disabled
                >
                  Wait
                </button>
                <button
                  *ngIf="dataset.projectType == 'log' && dataset.allowOwnerReview"
                  [disabled]="dataset.totalCase == 0 || !dataset.disableReview"
                  class="btn btn-sm btn-primary"
                  style="margin: 0"
                  title="Start Review"
                  (click)="clickReview(dataset)"
                >
                  Review
                </button>
              </clr-dg-cell>
            </clr-dg-row>
          </ng-container>

          <clr-dg-footer>
            <clr-dg-column-toggle [hidden]="true"></clr-dg-column-toggle>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
            {{ pagination.totalItems }} Projects
            <clr-dg-pagination
              #pagination
              [clrDgPageSize]="pageSize"
              [clrDgTotalItems]="totalItems"
              [(clrDgPage)]="page"
            >
            </clr-dg-pagination>
          </clr-dg-footer>
        </clr-datagrid>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
