/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.h2Title {
    margin-top: unset;
}

.floatRight {
    float: right;
    margin-right: unset !important;
}

.actionClass {
    min-width: unset;
}

.editModal input[type='text'],
.editModal input[type='file'] {
    width: 100% !important;
    margin-bottom: 0px;
}

::ng-deep .editModal .modal-dialog {
    min-width: 50%;

    .modal-body-wrapper {
        min-height: 25vh;
    }
}