/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/
.modal {
    .modal-body {
        height: 70vh;
        overflow-x: hidden;
        padding-left: 5px;
    }

    .modal-dialog {
        width: 60vw;
    }
}