/*
Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0
*/

.circleBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  background-color: #002538;
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  border-radius: 50%;
  color: #fafafa;
  font-size: 1.5rem;
  font-weight: bold;
}

.box {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 50%);
}