<!-- Copyright 2019-2023 VMware, Inc.
SPDX-License-Identifier: Apache-2.0 -->

<div class="clr-row">
  <div class="clr-col-2"></div>
  <div class="clr-col-8" style="position: relative">
    <div class="box">
      <div class="circleBox">
        <div class="circle">404</div>
      </div>
      <div style="text-align: center">
        <h3 style="color: #575757">Sorry,We couldn't find the page you requested.</h3>
        <h3 style="color: #575757">
          Click <a [routerLink]="['/loop-home']" routerLinkActive="active" style="text-decoration: underline">here</a>
          to go back to the homepage.
        </h3>
      </div>
    </div>
  </div>
  <div class="clr-col-2"></div>
</div>
